.account-wrapper {
    width: 1200px;
    margin: 0 auto 50px;
    min-height: 640px;
    color: #999999;
    font-size: 14px;
}

.account-hd {
    margin-top: 30px;
    border-radius: 10px;
    background-color: #fff;
}

.account-title {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #f4f4f4;
    padding: 0 20px;
}

.account-title h2 {
    font-size: 18px;
    color: #333333;
    float: left;
}

.account-count {
    float: right;
}

.account-count label {
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
}

.account-count em {
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
}

.account-content {

}

.account-amount {
    float: left;
    width: 600px;
    border-right: 1px solid #f4f4f4;
}

.account-amount .amount-hd {
    padding-left: 20px;
    padding-top: 12px;
}

.account-amount .amount-hd .switch {
    color: #cc9900;
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}


.account-amount .amount-hd .switch:hover {
    text-decoration-line: underline;
}

.account-amount .amount-bd {
    color: #333333;
    height: 58px;
    padding-left: 20px;
}

.account-amount .amount-bd .amount {
    float: left;
    /* width: 240px; */
    margin-right: 21px;
    line-height: 50px;
}

.account-amount .amount-bd label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 16px;
}

.account-amount .amount-bd em {
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
}

.account-amount .amount-bd em .unit {
    display: inline-block;
    padding-right: 13px;
}

.account-amount .amount-bd .actions {
    float: left;
}

.account-amount .amount-bd .btn {
    border: 0 none;
    min-width: 60px;
    height: 24px;
    line-height: 22px;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    margin-right: 10px;
    margin-top: 13px;
}

.account-amount .amount-bd .recharge-btn {
    background: #e8b802;
    color: #333333;
    border: 1px solid #e8b802;
}

.account-amount .amount-bd .recharge-btn:hover {
    background: #ffdc57;
    border-color: #ffdc57;
}

.account-amount .amount-bd .withdraw-btn {
    background: none;
    color: #333;
    border: 1px solid #999999;
}

.account-amount .amount-bd .withdraw-btn:hover {
    background: #e8b802;
    border-color: #e8b802;
}

.account-amount .amount-ft{
    border-top: 1px solid #f4f4f4;
    height: 50px;
    line-height: 50px;
}

.account-amount .amount-ft li{
    width: 50%;
    float: left;
}

.account-amount .amount-ft li label{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding-left: 20px;
}

.account-amount .amount-ft li em{
    display: inline-block;
    vertical-align: middle;
}

.account-amount .amount-ft li:first-child{
    border-right: 1px solid #f4f4f4;
}

.account-amount .btn a,
.account-amount .btn a:hover {
    color: #fff;
}

.account-record {
    float: right;
    text-align: center;
    width: 600px;
}

.account-record .btn {
    display: inline-block;
    margin-right: 60px;
    min-width: 160px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #333;
    padding: 0 5px;
    margin-top: 55px;
    background: none;
}

.account-record .btn:nth-child(2) {
    margin-right: 0;
}

.account-record .btn i{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin: 0 3px;
    background: url('../images/icon-record.png') no-repeat center center;
    background-size: 100% 100%;
}

/**
 * 列表
 */

.account-bd {
    margin-top: 30px;
    min-height: 240px;
    border-radius: 10px;
    background-color: #fff;
    padding: 0 0 20px;
}

.account-filter-box {
    height: 60px;
    margin-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #f4f4f4;
}

.account-filter-box .filter-radio {
    float: left;
    height: 60px;
    line-height: 60px;
    margin-left: 20px;
    color: #333333;
}

.account-filter-box .filter-input{
    float: right;
    margin-top: 14px;
    margin-right: 20px;
}

.account-bd .account-result-list {
    margin: 0 20px;
}

.account-result-list .mini-tip {
    margin-top: 100px;
    text-align: center;
    color: #ccc;
}


.account-result-list li {
    border-bottom: 1px solid #f4f4f4;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
}

.account-result-list li dd {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    padding: 10px 0;
    color: #333333;
    font-size: 14px;
}

.account-result-list .table-hd li dd {
    color: #999;
}

.account-result-list .table-bd {
    position: relative;
    min-height: 300px;
}

.account-result-list .table-bd li:hover {
    background: #f8f8f8;
}

.account-result-list .name {
    width: 100px;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.account-result-list .table-hd .name {
    padding-left: 14px;
}

.account-result-list .table-hd .actions {
    padding-right: 13px;
}

.account-result-list .name img {
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    margin: 0 4px;
    background: url('../images/coin-default.png') no-repeat center center;
    background-size: 100% 100%;
}

.account-result-list .name span {
    display: inline-block;
    vertical-align: middle;
}

.account-result-list .total,
.account-result-list .balance,
.account-result-list .freeze,
.account-result-list .value,
.account-result-list .actions {
    width: 212px;
    text-align: right;
}

.account-result-list .actions {
    box-sizing: border-box;
    padding-right: 10px;
}


.account-result-list .actions button {
    border: 0 none;
    background: none;
    color: #cc9900;
    padding: 0 3px;
}

.account-result-list .actions .split {
    height: 10px;
    width: 1px;
    background-color: #cccccc;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
    text-indent: 9999px;
}

.input-coin-account {
    position: relative;
}
.input-coin-account .amount-input {
    position: relative;
    z-index: 12;
}
.ie11-placeholder-hack {
    position: absolute;
    z-index: 10;
    line-height: 30px;
    font-size: 18px;
    color: #ccc;
}
