.assets-wrapper {
    min-height: 640px;
}

.assets-hd {
    height: 240px;
    background: #090600 url('../images/assets-bg.jpg') no-repeat center bottom;
    background-size: 1920px 240px;
}

.assets-hd-box {
    padding: 30px 20px 20px;
}

.assets-title {
    width: 100%;
    padding-left: 300px;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
}

.assets-title h2 {
    font-size: 26px;
    color: #fff;
    float: left;
    width: 300px;
    margin-left: -300px;
}

.assets-count {
    float: right;
    text-align: right;
    width: 100%;
    color: rgba(255, 255, 255, 0.7)
}

.assets-count .ant-select {
    padding: 0 3px;
    min-width: 85px;
}

.assets-count em {
    padding: 0 3px;
}

.assets-content {
    margin-top: 60px;
    padding-right: 500px;
}


.assets-amount {
    float: left;
    width: 100%;
}

.assets-amount .amount {
    color: #fff;
    display: inline-block;
    margin-right: 40px;
    line-height: 50px;
}

.assets-amount i {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background: url('../images/icon-eye.png') no-repeat center center;
    background-size: 30px 30px;
}

.assets-amount i.close {
    background: url('../images/icon-eye-close.png') no-repeat center center;
    background-size: 30px 30px;
}


.assets-amount label {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.assets-amount em {
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;
}

.assets-amount .actions {
    display: inline-block;
    margin-top: 5px;
}

.assets-amount .btn {
    border: 0 none;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background-color: #e6bc1d;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-right: 30px;
}

.assets-record {
    width: 500px;
    margin-right: -500px;
    float: right;
}

.assets-record .btn {
    border: 0 none;
    width: 220px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-right: 30px;
}


/**
 * 列表
 */

.assets-list {
    width: 1330px;
    margin: 20px auto;
}

.assets-filter-box {
    height: 30px;
    margin-bottom: 10px;
    overflow: hidden;
}

.assets-filter-box .filter-input {
    width: 214px;
    height: 28px;
    border: 1px solid #d9d9d9;
    float: left;
    margin-right: 10px;
}


.assets-filter-box .filter-input input {
    width: 180px;
    height: 26px;
    line-height: 26px;
    color: #333;
    border: 0 none;
    outline: 0 none;
    text-indent: 10px;
    background: none;
}

.assets-filter-box .filter-input .anticon-search {
    width: 30px;
    height: 28px;
    line-height: 28px;
}

.assets-filter-box .filter-radio {
    float: left;
    height: 30px;
    line-height: 30px;
}

.assets-result-list .mini-tip {
    margin-top: 30px;
    text-align: center;
}

.assets-result-list table {
    width: 100%;
    color: #999999;
    font-size: 16px;
    box-sizing: border-box;
}

.assets-result-list dd {
    display: inline-block;
    line-height: 24px;
    padding: 10px 0;
    color: #333333;
    font-size: 14px;
}

.assets-result-list .name {
    width: 15%;
}

.assets-result-list .name img {
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    margin: 0 4px;
}

.assets-result-list .name span {
    display: inline-block;
    vertical-align: middle;
}

.assets-result-list .total {
    width: 20%;
}

.assets-result-list .balance {
    width: 20%;
}

.assets-result-list .freeze {
    width: 20%;
}

.assets-result-list .value {
    width: 15%;
}

.assets-result-list .actions {
    width: 10%;
}

.assets-result-list li:hover {
    background: #fffbeb;
}

.assets-result-list ul .actions button {
    border: 0 none;
    background: none;
    margin-right: 10px;
    color: #5581d8;
}