@import './variable.less';

.redrate {
    color: @text-red-color !important;
}

.greenrate {
    color: @text-green-color !important;
}

body .ant-tooltip-inner{
	color: @text-yellow-color;
	font-size: 12px;
}