body,
html {
    min-width: 1200px;
    background-color: #f2f2f2;
}

#wrap {
    /* background: #fff; */
    min-height: 100%;
    overflow: hidden;
}

#wrap .fade {
    transition: all .2s ease-in 1s;
    -webkit-transition: all .2s ease-in 1s;
    -moz-transition: all .2s ease-in 1s;
    -ms-transition: all .2s ease-in 1s;
    -o-transition: all .2s ease-in 1s;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;

    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}

.app-page {
    position: relative;
}


.app-page .app-content {
    position: relative;
    min-height: 300px;
}

.app-page .mini-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/loading2.gif') no-repeat center center;
    background-size: 60px 60px;
    z-index: 999;
}

.app-page .not-found {
    padding-top: 400px;
    background: url('../images/404.png') no-repeat center 100px;
    background-size: 691px 302px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: #c5c5c5;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background: none;
}



/**
 * 重写antd颜色
 */

body .ant-checkbox-checked .ant-checkbox-inner,
body .ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: #e6bc1d;
    border-color: #e6bc1d;
}

body .ant-checkbox-checked:after {
    border: 1px solid #e6bc1d;
}
body .ant-checkbox-checked .ant-checkbox-inner:after{
    border: 2px solid #333;
    border-top: 0;
    border-left: 0;
}


body .ant-checkbox-input:focus+.ant-checkbox-inner,
body .ant-checkbox-wrapper:hover .ant-checkbox-inner,
body .ant-checkbox:hover .ant-checkbox-inner {
    border-color: #e6bc1d;
}

body .ant-switch-checked.ant-switch-loading:before {
    color: #e6bc1d;
}

body .ant-switch-checked {
    background-color: #e6bc1d;
}
body .ant-slider-handle {
    background-color: #e6bc1d;
}
body .ant-slider-handle.ant-tooltip-open {
    border-color: #e6bc1d;
}

body .ant-radio-focused .ant-radio-inner,
body .ant-radio-wrapper:hover .ant-radio .ant-radio-inner,
body .ant-radio:hover .ant-radio-inner {
    border-color: #e6bc1d;
}

body .ant-radio-checked:after {
    border: 1px solid #e6bc1d;
}

body .ant-radio-inner:after {
    background-color: #e6bc1d;
}

body .ant-radio-checked .ant-radio-inner {
    border-color: #e6bc1d;
}

body .ant-radio-button-wrapper-focused,
body .ant-radio-button-wrapper:hover {
    color: #e6bc1d;
}

body .ant-radio-button-wrapper-checked {
    border-color: #e6bc1d;
    color: #e6bc1d;
    -webkit-box-shadow: -1px 0 0 0 #e6bc1d;
    -moz-box-shadow: -1px 0 0 0 #e6bc1d;
    box-shadow: -1px 0 0 0 #e6bc1d;
}

body .ant-radio-button-wrapper-checked:before {
    background-color: #e6bc1d!important;
}

body .ant-radio-button-wrapper-checked:first-child {
    border-color: #e6bc1d;
}

body .ant-pagination-item-active{
    background-color: transparent;
    border-color: #ecc42d;
}

body .ant-pagination-item-active:focus,
body .ant-pagination-item-active:hover {
  background-color: transparent;
  border-color: #ecc42d;
}

body .ant-pagination-item:focus,
body .ant-pagination-item:hover {
  border-color: #ecc42d;
}

body .ant-pagination-item:focus a,
body .ant-pagination-item:hover a {
  color: #ecc42d;
}

body .ant-pagination-item-active a,
body .ant-pagination-item-active:focus a,
body .ant-pagination-item-active:hover a{
    color: #ecc42d;
}

body .ant-pagination-prev:focus .ant-pagination-item-link,
body .ant-pagination-next:focus .ant-pagination-item-link,
body .ant-pagination-prev:hover .ant-pagination-item-link,
body .ant-pagination-next:hover .ant-pagination-item-link {
  border-color: #ecc42d;
  color: #ecc42d;
}

body .ant-pagination-disabled a,
body .ant-pagination-disabled:hover a,
body .ant-pagination-disabled:focus a,
body .ant-pagination-disabled .ant-pagination-item-link,
body .ant-pagination-disabled:hover .ant-pagination-item-link,
body .ant-pagination-disabled:focus .ant-pagination-item-link {
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

body .app-page .ant-carousel .slick-dots li button{
    width: 30px;
    height: 4px;
    border-radius: 4px;
}

body .ant-carousel .slick-dots{
    bottom: 20px;
}

body .ant-carousel .slick-dots li{
    margin: 0 5px;
}

body .ant-checkbox-wrapper + span, body .ant-checkbox + span{
    height: 30px;
    height: 30px;
    padding-left: 6px;
    padding-right: 6px;
}
body .ant-input{
    border: 1px solid #ccc;
    color: #333;
}
body .ant-input-search:not(.ant-input-search-small) > .ant-input-suffix{
    right: 15px;
}

body .ant-select-dropdown-menu-item{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #999;
}

body  .ant-select-dropdown-menu-item:hover {
    background-color: #f8f8f8;
    text-decoration: none;
    color: #333;
}

.widget-tooltip .ant-popover-inner-content {
    padding: 12px 0;
}


.widget-tooltip .menu-list dd {
    position: relative;
    padding: 6px 15px;
    cursor: pointer;
    font-size: 14px;
    color: #999999;
    text-align: center;
    min-width: 120px;
    border-bottom: 1px solid #eeeeee;
}

.widget-tooltip .menu-list dd:last-child {
    border-bottom: 0 none;
}


.widget-tooltip .menu-list dd.selected {
    color: #cc9900;
}

.widget-tooltip .menu-list dd:hover {
    background-color: #f8f8f8;
    text-decoration: none;
}

.widget-tooltip .menu-list dd a,
.widget-tooltip .menu-list dd a:hover {
    color: #999999;
    text-decoration: none;
}

.widget-tooltip .menu-list dd:last-child {
    border-bottom: 0 none;
}

.widget-tooltip .menu-list dd.selected {
    color: #cc9900;
}





/**
 * 页面头部
 */

.app-header {
    height: 60px;
    background-color: #141414;
    color: #fff;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #333;
}

.app-page[data-path="/home"] .app-header {
    background-color: #141414;
}

.header-box {
    padding: 0 20px;
    margin: 0 auto;
    font-size: 16px;
}

/* .app-trade .header-box{
    padding: 0 20px;
} */

.header-box .logo {
    float: left;
    width: 124px;
    margin-right: 30px;
    height: 60px;
}

.header-box .logo a {
    width: 140px;
    height: 60px;
    line-height: 60px;
}

.header-box .logo img {
    width: 124px;
    height: 25px;
    vertical-align: middle;
}

.header-box .header-box-l {
    float: left;
}

.header-box .header-box-l li {
    float: left;
    margin-right: 30px;
    line-height: 60px;
    font-size: 16px;
}

.header-box .header-box-l li a:hover{
    color: #cc9900
}

.app-trade .header-box .header-box-l li.trade a{
    color: #cc9900;
}

.app-page[data-path="/news"] .header-box .header-box-l li.news a{
    color: #cc9900;
}

.app-page[data-path="/download"] .header-box .header-box-l li.download a{
    color: #cc9900;
}

.header-box .header-box-r {
    float: right;
}

.header-box .header-box-r ul {
    float: left;
}

.header-box .header-box-r li {
    float: left;
    padding: 0 12px;
    line-height: 60px;
    color: #999;
    font-size: 14px;
}
.header-box .header-box-r li a{
    display: inline-block;
    vertical-align: middle;
}
.header-box .header-box-r li a:hover{
    color: #fff;
}

.header-box .header-box-r li ul li.username a {
    color: #e6bc1d;
    cursor: pointer;
}

.header-box .header-box-r li ul li.logout {
    cursor: pointer;
}

.header-box .header-box-r li.split{
    font-size: 10px;
    width: 1px;
    padding: 0;
    text-align: center;
    color: #666;
}



.header-box .header-box-r .ant-switch{
    background-color: #ccc;
    min-width: 28px;
    height: 16px;
    line-height: 14px;
}
.header-box .header-box-r .ant-switch-checked {
    border-color: #e8b802;
    background-color: #e8b802;
}

.header-box .header-box-r .ant-switch:before, 
.header-box .header-box-r .ant-switch:after{
    width: 12px;
    height: 12px;
}

.header-box .header-box-r .ant-switch-checked:before, 
.header-box .header-box-r .ant-switch-checked:after{
    margin-left: -13px;
}


.header-box .header-box-r .ant-switch-checked .ant-switch-inner{
    margin-right: 20px;
    margin-left: 6px;
}

.header-box .header-box-r .ant-switch-inner{
    margin-left: 20px;
    margin-right: 6px;
}

.header-box .header-box-l a,
.header-box .header-box-l a:hover {
    text-decoration: none;
    color: #fff;
}

.header-box .header-box-r a,
.header-box .header-box-r a:hover {
    text-decoration: none;
    color: #666;
}


.header-box .theme-menu {
    line-height: 60px;
}

.header-box .theme-menu[data-theme="dark"] .off{
    color: #cc9900;
}

.header-box .theme-menu[data-theme="light"] .on{
    color: #cc9900;
}

.header-box .theme-menu label {
    padding: 0 5px;
}


.header-box .language-menu {
    position: relative;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.header-box .language-menu .langtxt {
    display: inline-block;
    vertical-align: middle;
    color: #cc9900;
}

.header-box .language-menu .anticon {
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
}


.header-box .usertxt {
    cursor: pointer;
    min-height: 30px;
    background: url('../images/icon-menu.png') no-repeat right center;
    background-size: 20px 20px;
    padding-right: 32px;
}

/**
 * 页脚
 */

.tobottom-footer {
    position: relative;
    padding-bottom: 257px;
    box-sizing: border-box;
}

.app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 257px;
    box-sizing: border-box;
    background-color: #2b2b2b;
}

.app-footer .footer-box {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    color: #b3b3b3;
}

.app-footer .footer-box .footer-box-top {
    padding: 25px 0 25px;
}

.app-footer .footer-box .nav-list {
    float: left;
}

.app-footer .footer-box .info {
    float: right;
}

.app-footer .footer-box .nav-list li {
    float: left;
    padding-right: 50px;
    font-size: 14px;
}

.app-footer .footer-box .nav-list li .nav-item {
    display: block;
    text-align: left;
    line-height: 30px;
}

.app-footer .footer-box .nav-list li .nav-item:nth-child(1) {
    color: #fff;
}

.app-footer .footer-box .nav-list li a {
    color: #878787;
}

.app-footer .footer-box .nav-list li a:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}


.app-footer .footer-box .info {
    text-align: right;
}

.app-footer .footer-box .info .phone {
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
}

.app-footer .footer-box .info .mail {
    font-size: 10px;
    line-height: 30px;
    color: rgb(135, 135, 135);
}

.app-footer .footer-box .info .icons a {
    margin: 15px 0 0 15px;
}

.app-footer .footer-box .info .icons a,
.app-footer .footer-box .info .icons i.icon {
    display: inline-block;
    width: 32px;
    height: 31px;
}

.app-footer .footer-box .info .icons i.icon {
    background: url('../images/home-icon.png') no-repeat 1px -1px;
}

.app-footer .footer-box .info .icons i.icon:hover {
    cursor: pointer;
    background-position-y: -32px;
}

.app-footer .footer-box .info .icons i.icon.line {
    background-position-x: -50px;
}

.app-footer .footer-box .info .icons i.icon.facebook {
    background-position-x: -100px;
}

.app-footer .footer-box .info .icons i.icon.twitter {
    background-position-x: -150px;
}

.app-footer .footer-box .copyright {
    text-align: center;
    width: 100%;
    line-height: 55px;
    font-size: 12px;
    color: rgb(153, 153, 153);
    border-top: 1px solid rgb(78, 78, 78);
    border-bottom: 1px solid rgb(78, 78, 78);
}

.app-page[data-path="/home"] .app-footer {
    /* background-color: #f8f8f8; */
    color: rgba(51, 51, 51, 0.5);
}


.app-page[data-path="/login"] .app-content,
.app-page[data-path="/register"] .app-content,
.app-page[data-path="/resetpwd"] .app-content{
    background: #141414 url('../images/loginbg.png') no-repeat center 100px;
    background-size: 1200px 515px;
    min-height: 550px;
}

.app-page[data-path="/login"] .tobottom-footer,
.app-page[data-path="/register"] .tobottom-footer,
.app-page[data-path="/resetpwd"] .tobottom-footer{ 
    background-color: #141414;
}

.app-page[data-path="/login"] .app-footer,
.app-page[data-path="/register"] .app-footer,
.app-page[data-path="/resetpwd"] .app-footer{
    background-color: rgba(42, 42, 42, 0.2);
}

.redrate {
    color: #ef5d7f;
}

.greenrate {
    color: #33c280;
}

.greenbg {
    background-color: #33c280;
}

.redbg {
    background-color: #ef5d7f;
}

.error-message {
    color: #bf0000;
    font-size: 12px;
}

.disabled {
    background-color: #ccc;
}

.send-v-code-button {
    width: 100px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
}

.active-menu {
    position: relative;
}

.active-menu::before {
    content: '';
    height: 14px;
    position: absolute;
    width: 3px;
    background-color: #e6bc1d;
    left: -10px;
    top: 14px;
}


/* page-content */

.ace-page-content {
    float: right;
    width: 100%;
    margin: 0 0 10px;
    min-height: 620px;
    /* box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06); */
    /* background-color: #f2f2f2; */
}

.ace-page-content .content-title, .ace-page-content .ace-section .section-title {
    height: 60px;
    line-height: 60px;
    /* margin-bottom: 1px; */
    border-bottom: solid 1px #f2f2f2;
    background-color: #fff;
    font-size: 18px;
    padding-left: 20px;
}

.ace-page-content .content-body, .ace-page-content .ace-section .section-body {
    padding: 10px 20px 20px;
    background-color: #fff;
}

.ace-page-content .page-content-inner.no-padding .content-body {
    padding: 0;
    background-color: transparent;
}

.ace-page-content .ace-section {
    margin-bottom: 20px;
    border-radius: 5px;
}


.ace-form .ace-input-item .item-error{
    color: #bf0000;
    font-size: 12px;
}


.ace-form .ace-input-item .ant-select {
    width: 100%;
}

/**
 * 通用form样式
 */

 .ace-form .ace-input-item,
 .ace-form .ace-input-item .label,
 .ace-form .ace-input-item .input,
 .ace-form .ace-input-item .tip {
     width: 100%;
 }

 .ace-form {
     margin: 0 auto;
     padding: 30px 0 20px;
 }


 .ace-form.width-common {
     width: 450px;
 }

 .ace-form .ace-input-item {
     margin-bottom: 27px;
 }

 .ace-form .ace-input-item .label {
     font-size: 14px;
     color: #999999;
     display: inline-block;
     padding-bottom: 2px;
 }

 .ace-form .ace-input-item .input {
     height: 40px;
     box-sizing: border-box;
     border-image: initial;
     border-radius: 3px;
     border: solid 1px #ccc;
     text-indent: 10px;
     outline: none;
 }
 .ace-form  .ant-select-selection__placeholder,  
 .ace-form  .ant-select-search__field__placeholder {
     color: #ccc;
     font-weight: normal;
 }

 .ace-form .ace-input-item .input,  .ace-form .ace-input-item .ant-select {
    font-size: 18px;
     color: #333;
 }
 .ace-form .ant-select-selection {
    border: solid 1px #ccc;
 }
 .ace-form .ace-input-item .item-tip, .ace-form .ace-input-item.select .message {
    color: #999;
    padding-top: 2px;
 }
 .ace-input-item.select .message {
    display: inline-block;
 }
 .ace-form .ace-submit-item {
     width: 100%;
     background-color: #e6bc1d;
     color: #fff;
     height: 40px;
     border-radius: 8px;
     margin-top: 20px;
 }

 .align-right {
     text-align: right;
 }
