body,
html {
    overflow-x: hidden;
}

#wrap {
    background: #f8f7fc;
    min-width: 1200px;
    min-height: 100%;
}

.app-page {
    position: relative;
}

.app-page[data-theme="dark"] {}

.app-page[data-theme="light"] {}

/**
 * 页面头部
 */

.app-header {
    height: 50px;
    background-color: #270238;
    color: #fff;
}
.app-page[data-path="/home"] .app-header{
    background-color: #141414;
}
.header-box {
    padding: 0 20px;
    font-size: 14px;
}

.header-box a,
.header-box a:hover {
    text-decoration: none;
    color: #fff;
}

.header-box .logo {
    float: left;
    width: 120px;
    height: 50px;
}

.header-box .logo a {
    width: 120px;
    height: 50px;
    line-height: 50px;
}

.header-box .logo img {
    height: 30px;
    vertical-align: middle;
}

.header-box .header-box-l {
    float: left;
}

.header-box .header-box-l li {
    float: left;
    margin-right: 30px;
    line-height: 50px;
}

.header-box .header-box-r {
    float: right;
}

.header-box .header-box-r ul {
    float: left;
}

.header-box .header-box-r li {
    float: left;
    margin-right: 30px;
    line-height: 50px;
}

.header-box .theme-menu {
    line-height: 50px;
}

.header-box .theme-menu label {
    margin-right: 10px;
}

.header-box .language-menu {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.header-box .language-menu .langtxt {
    display: inline-block;
    vertical-align: middle;
}

.header-box .language-menu .anticon {
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
}

.header-box .language-menu-list dd {
    position: relative;
    padding: 6px 0;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #e2e2e2;
}

.header-box .language-menu-list dd:last-child {
    border-bottom: 0 none;
}

.header-box .language-menu-list dd.selected {
    color: #fb7e3e;
}


/**
 * 页脚
 */

.tobottom-footer {
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 1200px;
    min-height: 60px;
    box-sizing: border-box;
    background-color: #270238;
}



.app-footer .footer-box {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.app-footer .footer-box li {
    display: inline-block;
    padding: 0 30px;
    line-height: 60px;
    font-size: 14px;
}

.app-footer .footer-box li a,
.app-footer .footer-box li a:hover {
    color: #fff;
}

.app-footer .footer-box li a:hover {
    text-decoration: underline;
}

.app-page[data-path="/home"] .app-footer{
    background-color: #f8f8f8;
}

.app-page[data-path="/home"] .footer-box li a,
.app-page[data-path="/home"] .footer-box li a:hover {
    color: #b3b3b3;
}