.fee-discount {
    .discount-list {
        display: flex;
        .item {
            width: 20%;
            text-align: center;
        }
    }
}
.ant-modal-wrap.fee-discount {
    .discounts .inner-item{
        display: flex;
        .item {
            width: 20%;
            text-align: center;
        }
    }
}
