.home-wrapper {
    position: relative;
    background: #f2f2f2;
    min-height: 600px;
}

.home-content {
    min-height: 500px;
    background-color: #f2f2f2;
}




/**
 * banner广告位
 */

.banner-wrapper {
    background-color: #141414;
}

.banner-wrapper .slider {
    overflow: hidden;
    position: relative;
    height: 440px;
    min-width: 1200px;
    background-size: cover;
    background-position: 50%;
    margin: 0 auto;
}
.banner-wrapper .ant-carousel .slick-slide{
    height: 440px;
}

.banner-wrapper .ant-carousel .slick-slide img {
    margin: 0 auto;
    width: 1200px;
    height: auto;
    display: block;
}

/**
 * 新手引导
 */

.loginguide-wrapper {
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 2;
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-align: center;
    background-color: #141414;
    color: #fff;
    font-size: 14px;
}

.loginguide-wrapper li {
    display: inline-block;
    margin-right: 10px;
    color: #999;
}

.loginguide-wrapper li label{
    font-size: 14px;
}

.loginguide-wrapper li span{
    display: inline-block;
    vertical-align: middle;
}

.loginguide-wrapper li a,
.loginguide-wrapper li a:hover {
    color: #e6bc1d;
    padding: 0 5px;
}

.loginguide-wrapper li button{
    background: transparent;
    border: 0 none;
    color: #cc9900;
    padding: 0 5px;
}

.loginguide-wrapper li button.register-btn:hover{
    text-decoration: underline;
}

.loginguide-wrapper li button.login-btn{
    background-color: #e8b802;
    color: #333333;
    text-align: center;
    line-height: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    border-radius: 2px;
    padding: 0 15px;
}

.loginguide-wrapper li button.login-btn:hover{
    background-color: #ffdc57;
}




/**
 * 网站特性介绍
 */

.features-wrapper {
    margin-top: 40px;
    height: 190px;
    background-color: #fff;
}

.features-wrapper .features-box{
    position: relative;
    width: 1200px;
    height: 190px;
    margin: 0 auto;
}

.features-wrapper ul {
    /* width: 1076px; */
    padding-top: 30px;
}

.features-wrapper li {
    float: left;
    width: 25%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.features-wrapper li i {
    width: 60px;
    height: 60px;
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.features-wrapper li:hover i{
    -webkit-animation-name: hvr-bob-float,hvr-bob;
    animation-name: hvr-bob-float,hvr-bob;
    -webkit-animation-duration: .3s,1.5s;
    animation-duration: .3s,1.5s;
    -webkit-animation-delay: 0s,.3s;
    animation-delay: 0s,.3s;
    -webkit-animation-timing-function: ease-out,ease-in-out;
    animation-timing-function: ease-out,ease-in-out;
    -webkit-animation-iteration-count: 1,infinite;
    animation-iteration-count: 1,infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal,alternate;
    animation-direction: normal,alternate
}


@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px)
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }
}

@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px)
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }
}

@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }
}

.features-wrapper li i.icon-bank {
    background: url('../images/features-icon1.png') no-repeat center center;
    background-size: 100% 100%;
}

.features-wrapper li i.icon-clock {
    background: url('../images/features-icon2.png') no-repeat center center;
    background-size: 100% 100%;
}

.features-wrapper li i.icon-team {
    background: url('../images/features-icon3.png') no-repeat center center;
    background-size: 100% 100%;
}

.features-wrapper li i.icon-coin {
    background: url('../images/features-icon4.png') no-repeat center center;
    background-size: 100% 100%;
}

.features-wrapper li .title {
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}

.features-wrapper li .desc {
    font-size: 12px;
    margin-top: 5px;
    color: #cccccc;
}

.features-wrapper .download-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -15px;
    width: 121px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333333;
    background-color: #e8b802;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}


.features-wrapper .download-btn:hover{
    background-color: #ffdc57;
}

/**
 * 推荐的热门币种列表
 */

.hot-markets {
    width: 1200px;
    margin: 20px auto 0;
    overflow: hidden;
}

.hot-markets li {
    float: left;
    width: 224px;
    margin-right: 20px;
}

.hot-markets li:last-child{
    margin-right: 0;
}

.hot-markets .recommend-item {
    display: block;
    position: relative;
    width: 100%;
    height: 105px;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
    /* opacity: 0.7; */
    cursor: pointer;
    overflow: hidden;
}

.hot-markets .recommend-item:hover {
    text-decoration: none;
    /* opacity: 1; */
}

.hot-markets .recommend-item-name {
    position: relative;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    color: #333333;
    z-index: 2;
}

.hot-markets .recommend-item-price {
    position: relative;
    font-size: 18px;
    margin-top: 10px;
    height: 28px;
    line-height: 28px;
    z-index: 2;
}

.hot-markets .recommend-item-volume {
    position: relative;
    margin-top: 10px;
    color: #999;
    font-size: 12px;
    z-index: 2;
}

.hot-markets .recommend-item-rate {
    position: absolute;
    right: 0;
    top: 10px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    min-width: 65px;
    padding: 0 5px;
    font-size: 12px;
    border-radius: 16px 0 0 16px;
    box-sizing: border-box;
}

.hot-markets .recommend-item-kline svg {
    display: block;
    width: 100%;
    height: 40px;
}



/**
 * 货币行情
 */

.index-markets {
    height: 650px;
    width: 1200px;
    margin: 20px auto 0;
    background-color: #fff;
    border-radius: 6px;
}

.index-markets-hd {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #f2f2f2;
}

.index-markets-hd .title {
    font-size: 18px;
    padding: 0 20px;
}

.index-markets-right {
    float: right;
    width: 900px;
    height: 590px;
    position: relative;
}

.index-markets-left {
    position: relative;
    float: left;
    width: 300px;
    height: 590px;
    border-right: 1px solid #f2f2f2;
}

.index-markets-left .coin-hd {
    position: relative;
    padding: 20px 0;
    color: #333333;
    font-size: 14px;
    box-sizing: border-box;
}

.index-markets-left .coin-hd h4 {
    padding: 0 20px;
}

.index-markets-left .coin-hd h4 em {
    padding: 0 10px;
}

.index-markets-left .coin-hd .rate {
    position: absolute;
    right: 20px;
    top: 50%;
    height: 20px;
    line-height: 20px;
    margin-top: -10px;
    font-size: 18px;
    text-align: center;
    border-radius: 20px 0 0 20px;
}

.index-markets-left .coin-bd {
    width: 260px;
    margin: 0 auto;
    border-bottom: 2px solid #f4f4f4;
}

.index-markets-left .coin-bd li {
    font-size: 12px;
    color: #999999;
    overflow: hidden;
    margin-bottom: 20px;
}

.index-markets-left .coin-bd li label {
    float: left;
}


.index-markets-left .coin-bd li em{
    float: right;
}
.index-markets-left .coin-ft {
    position: relative;
}

.index-markets-left .realtime-hd {
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
}
.index-markets-left .realtime-hd  h4{
    font-size: 14px;
}
.index-markets-left .realtime-hd label {
    position: absolute;
    right: 0;
    height: 23px;
    line-height: 23px;
    top: 50%;
    font-size: 14px;
    margin-top: -12px;
    padding-right: 20px;
}

.index-markets-left .realtime-hd label a,
.index-markets-left .realtime-hd label a:hover{
    color: #cc9900;
}

.index-markets-left .coin-line-box{
    height: 200px;
    width: 260px;
    margin: 0 auto;
}


.index-markets-right .coin-list-title {
    position: absolute;
    right: 10px;
    top: -60px;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    text-align: right;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}


.index-markets-right .coin-list-title>span:first-child {
    padding-right: 30px;
}

.index-markets-right .coin-list-title>span:last-child {
    width: 240px;
}

.index-markets-right .coin-list-title span.ant-input-search{
    padding-left: 24px;
}

.index-markets-right .table-body {
    width: 100%;
    max-height: 540px;
    overflow: hidden;
    overflow-y: auto;
}


.index-markets-right .coin-list-content li{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #f4f4f4;
    cursor: pointer;
    color: #666666;
}

.index-markets-right .coin-list-content .table-body li:hover{
    background-color: #f8f8f8;
}

.index-markets-right .coin-list-content .table-header li {
    color: #999999;
}

.index-markets-right .coin-list-content .cell{
    float: left;
    font-size: 14px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.index-markets-right .coin-list-content .name{
    width: 172px;
    text-align: center;
}

.index-markets-right .coin-list-content .table-body .name{
    color: #333333;
}

.index-markets-right .coin-list-content .name .symbol:hover{
    text-decoration: underline;
}

.index-markets-right .coin-list-content .amount{
    width: 172px;
    text-align: right;
}

.index-markets-right .coin-list-content .rate{
    width: 172px;
    text-align: right;
}

.index-markets-right .coin-list-content .volume{
    width: 172px;
    text-align: right;
}

.index-markets-right .coin-list-content .action{
    width: 172px;
    text-align: center;
}


.index-markets-right .coin-list-content i.anticon-star-o:hover{
    color: #e8b802 !important;
}

.index-markets-right .anticon-star {
    color: #e6bc1d;
}

/**
 * 币圈资讯
 */

.module-box {
    width: 1200px;
    margin: 0 auto 20px;
}

.module-item {
    float: left;
    margin-right: 10px;
    min-height: 260px;
}

.module-item:last-child {
    margin-right: 0;
}



>>>>>>> 2a378679853a7c89276577b98bab15dbd3eeda14
/* 正 */

.recommend-item.positive .recommend-item-rate {
    background-color: #33c280;
}

.recommend-item.positive .recommend-item-price {
    color: #33c280;
}



/* 负 */

.recommend-item.negative .recommend-item-rate {
    background-color: #ef5d7f;
}

.recommend-item.negative .recommend-item-price {
    color: #ef5d7f;
}

.recommend-item-kline {
    line-height: normal;
    position: absolute;
    left: 0;
    bottom: 0px;
}

.recommend-item-kline svg {
    display: block;
    width: 100%;
    height: 40px;
}




/**
 * 最新公告
 */

.announcement-wrapper {
   background-color: #fff;
   height: 60px;
}

.announcement-wrapper .content{
    width: 1200px;
    margin: 0 auto;
}

.announcement-wrapper ul {
    padding-top: 15px;
}

.announcement-wrapper li {
    position: relative;
    float: left;
    width: 33%;
    font-size: 12px;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}

.announcement-wrapper li:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 10px;
    width: 1px;
    background-color: #ccc;
}

.announcement-wrapper li:nth-child(3n):after{
    display: none;
}

.announcement-wrapper li .info {
    display: inline-block;
    vertical-align: middle;
    width: 260px;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.announcement-wrapper li a,
.announcement-wrapper li a:hover {
    color: #999999;
    padding: 0 10px;
}

.announcement-wrapper li a:hover {
    text-decoration: underline;
}

.announcement-wrapper li .time {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 100px;
}
