.register-wrapper {    
    padding-top: 80px;
    padding-bottom: 100px;
}
.register-wrapper .register-form {
    position: relative;
    width: 520px;
    margin: 0 auto;
    color: #fff;
}
.register-wrapper .register-mode-tabs {
    height: 40px;
    width: 380px;
    margin: 0 auto;
    text-align: right;
}

.register-wrapper .register-form li {
    display: inline-block;
}

.register-wrapper .register-mode-tab{
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    color: #fff;
    padding: 0 10px;
    background: none;
    font-size: 16px;
}

.register-wrapper .register-mode-tab.selected {
    color: #e6bc1d;
}

.register-mode-content {
    width: 380px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.register-wrapper .title{
    width: 380px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    text-align: left;
    color: #fff;
}

.register-wrapper .subtitle{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}

.register-mode-content .input-wrapper{
	margin-bottom: 23px;
	position: relative;
}

.register-mode-content .input-box{
	height: 40px;
    position: relative;
}

.register-mode-content .input-box input{
	width: 100%;
    height: 40px;
    border: 0 none;
    border-bottom: 1px solid #5b5b5b;
    border-radius: 2px;
    outline: none;
    font-size: 16px;
    background: none;
}
.register-mode-content .input-box input.focus{
    border-bottom: 1px solid #e6bc1d;
}
.register-mode-content .input-box input.wrong{
    border-color: #da161a;
}
.register-mode-content .input-box.input-phone{
	padding-left: 40px;
}

.register-mode-content .input-box .ant-select{
    height: 40px;
    width: 100%;
    outline: none;
    background-color: transparent;
    border-radius: 4px;
}
.register-mode-content .input-box .ant-select-selection{
    color: #cccccc;
    border: 1px solid #5b5b5b;
    background-color: transparent;
}
.register-mode-content .input-box .ant-select-selection--single,
.register-mode-content .input-box .ant-select-selection__rendered{
    height: 40px;
    line-height: 40px;
}
.register-mode-content .input-wrapper .warn{
	position: absolute;
	height: 20px;
    line-height: 20px;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: -20px;
    color: #ff3245 !important;
}

.register-mode-content .input-box .area-code{
	position: absolute;
    top: 0px;
    left: 0;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #5b5b5b;
    border-right: 0 none;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    border-radius: 2px 0 0 2px;
}

.register-mode-content .input-box.yz-box{
	width: 260px;
}

.register-mode-content .input-box.useryz-box{
	width: 230px;
}

.register-mode-content .input-box .codeimg{
	position: absolute;
	right: -120px;
	top: 0;
	display: inline-block;
	width: 120px;
	height: 40px;
    vertical-align: top;
    background-color: #ededed;
}

.register-mode-content .input-box .codeimg img{
	display: block;
	width: 100%;
	height: 100%;
}
.register-mode-content .input-box .yzcode{
	position: absolute;
	right: -150px;
	top: 0;
	width: 150px;
    height: 40px;
    vertical-align: top;
}

.register-mode-content .input-box .yzcode button{
	width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    border: 0 none;
    outline: none;
    background-color: #e6bc1d;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
}

.register-mode-content .input-box .yzcode button.disabled{
	background-color: rgb(204, 204, 204);
}

.register-mode-content .input-box.user-protocol{
    height: 20px;
    line-height: 20px;
}

.register-mode-content .input-box.user-protocol .ant-checkbox-wrapper{
    color: #cccccc;
}
.register-mode-content .input-box.user-protocol input{
	width: 20px;
    height: 18px;
    text-indent: 0;
    vertical-align: middle;
}
.register-mode-content .input-box.user-protocol a,
.register-mode-content .input-box.user-protocol a:hover{
    color: #e6bc1d;
    text-decoration: underline;
}
.register-mode-content .submit-btn{
	width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #e6bc1d;
    outline: none;
    background-color: transparent;
    color: #e6bc1d;
    cursor: pointer;
    border-radius: 40px;
}

.register-mode-content .submit-btn.disabled{
	color: #5b5b5b;
    border: 1px solid #5b5b5b;
}

.register-mode-content .error-tip{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #b14d43 !important;
    margin-bottom: 10px;
}

.register-mode-content .warn-tip{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #b14d43 !important;
}
.register-icon{
    position: absolute;
    right: 0;
    bottom: -40px;
}

.register-extra{
    text-align: center;
}
.register-extra a,
.register-extra a:hover{
    color: #e6bc1d;
}