.register-wrapper {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    background-color: #191b1d;
    border: 1px solid #272a2d;
    border-radius: 4px;
}

.register-wrapper .register-form-wrapper{
    position: relative;
    margin: 10px auto;
    width: 480px;
    color: #fff;
    padding-bottom: 45px;
    background-color: #24272c;
}
.register-wrapper:before,
.register-wrapper:after,
.register-wrapper .register-form-wrapper:before,
.register-wrapper .register-form-wrapper:after{
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    z-index: 2;
}

.register-wrapper:before{
    background: url('../images/login-arrow-lt.png') no-repeat center center;
    background-size: 100% 100%;
    left: 10px;
    top: 10px;
}

.register-wrapper:after{
    background: url('../images/login-arrow-rt.png') no-repeat center center;
    background-size: 100% 100%;
    right: 10px;
    top: 10px;
}

.register-wrapper .register-form-wrapper:before{
    background: url('../images/login-arrow-lb.png') no-repeat center center;
    background-size: 100% 100%;
    left: 0;
    bottom: 0;
}

.register-wrapper  .register-form-wrapper:after{
    background: url('../images/login-arrow-rb.png') no-repeat center center;
    background-size: 100% 100%;
    right: 0;
    bottom: 0;
}

.register-wrapper .register-form{
    width: 400px;
    margin: 0 auto;
}


.register-wrapper .register-mode-tabs {
    position: absolute;
    right: 40px;
    top: 0;
    height: 60px;
    width: 400px;
    margin: 0 auto;
    text-align: right;
}

.register-wrapper .register-form li {
    display: inline-block;
}

.register-wrapper .register-form li:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 10px;
    width: 1px;
    margin: 0 12px;
    background: #666;
}

.register-wrapper .register-form li:last-child:after {
    display: none;
}



.register-wrapper .register-mode-tab {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
    color: #838891;
    background: none;
    font-size: 14px;
}


.register-wrapper .register-mode-tab.selected {
    color: #cc9900;
}

.register-mode-content {
    margin: 10px auto;
}

.register-wrapper .title {
    width: 100%;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid #333;
}

.register-wrapper .subtitle {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}

.register-mode-content .input-wrapper {
    position: relative;
}

.register-mode-content .input-box {
    height: 60px;
    position: relative;
}

.register-mode-content .input-box input {
    width: 100%;
    height: 60px;
    border: 0 none;
    border-bottom: 1px solid #333;
    outline: none;
    font-size: 14px;
    background: none;
    color: #b6bcc6;
    -webkit-box-shadow:  0 0 0 30px #24272c inset;
    -webkit-text-fill-color: #b6bcc6 !important;
}

.register-mode-content .input-box input:focus {
    border-bottom: 1px solid #e8b802;
}

.register-mode-content .input-box input.wrong {
    /* border-color: #ff6666; */
}

.register-mode-content .input-box.input-phone {
    padding-left: 40px;
}

.register-mode-content .input-box .ant-select {
    height: 40px;
    width: 100%;
    outline: none;
    background-color: transparent;
}

.register-mode-content .input-box .ant-select-selection {
    color: #b6bcc6;
    border: 0 none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    border-radius: 0;
}

.register-mode-content .input-box .ant-select-selection--single,
.register-mode-content .input-box .ant-select-selection__rendered {
    height: 60px;
    line-height: 60px;
    margin: 0;
}

.register-mode-content .input-box .ant-select-focused .ant-select-selection,
.register-mode-content .input-box .ant-select-selection:focus,
.register-mode-content .input-box .ant-select-selection:active {
    border: 0 none;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(24, 144, 255, 0);
    -moz-box-shadow: 0 0 0 0 rgba(24, 144, 255, 0);
    box-shadow: 0 0 0 0 rgba(24, 144, 255, 0);
}

.register-mode-content .input-box .ant-select-focused .ant-select-selection {
    border-bottom: 1px solid #e8b802;
}

.register-mode-content .input-box .ant-select-arrow {
    color: #999;
}

.register-mode-content .input-wrapper .warn {
    margin-top: 10px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #ff6666 !important;
}

.register-mode-content .input-box .area-code {
    position: absolute;
    top: 0px;
    left: 0;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #333;
    border-right: 0 none;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    border-radius: 2px 0 0 2px;
}

.register-mode-content .input-box.useryz-box {
    /* width: 230px; */
}

.register-mode-content .input-box .ex-captcha {
    position: absolute;
    right: 0;
    bottom: 15px;
}

.register-mode-content .input-box .yzcode {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 60px;
    color: #cc9900;
}

.register-mode-content .input-box .yzcode button {
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    text-align: center;
    border: 0 none;
    outline: none;
    background: 0 none;
    cursor: pointer;
}

.register-mode-content .input-box .yzcode button.disabled{
    cursor: default;
}

.register-mode-content .input-box .yzcode .code-sending {
    color: #666;
}

.register-mode-content .input-box.user-protocol {
    margin-top: 40px;
    height: auto;
    font-size: 14px;
}

.register-mode-content .input-box.user-protocol .ant-checkbox-wrapper {
    color: #b6bcc6;
}

.register-mode-content .input-box.user-protocol input {
    width: 20px;
    height: 18px;
    text-indent: 0;
    vertical-align: middle;
}

.register-mode-content .input-box.user-protocol a,
.register-mode-content .input-box.user-protocol a:hover {
    color: #cc9900;
    text-decoration: none;
}

.register-mode-content .submit-btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #e8b802;
    outline: none;
    background-color: #e8b802;
    color: #333333;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 20px;
}

.resetpwd-box .register-mode-content .submit-btn,
.logn-box .register-mode-content .submit-btn{
    margin-top: 40px;
}

.register-mode-content .submit-btn.disabled {
    color: #666;
    border: 1px solid #34373e;
    background-color: #34373e;
}

.register-mode-content .error-tip {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #ff6666 !important;
    margin-top: 10px;
}

.register-mode-content .warn-tip {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #ff6666 !important;
}

.register-icon {
    position: absolute;
    right: 0;
    bottom: -40px;
}

.register-extra {
    margin-top: 20px;
    text-align: center;
}

.register-extra a,
.register-extra a:hover {
    color: #cc9900;
    font-size: 14px;
}


.exchange-dialog-content {
    white-space: normal;
}
