.order-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto 30px;
    color: #999999;
}


.order-wrapper .ant-breadcrumb {
    height: 50px;
    line-height: 50px;
}

.order-body-inner {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}
/**
 * 导航
 */
.order-menu ul {
    height: 51px;
    border-bottom: 1px solid #f4f4f4;
}

.order-menu ul li {
    position: relative;
    width: 400px;
    float: left;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #f4f4f4;
    background-color: #f9f9f9;
}

.order-menu ul li:last-child {
    border-right: 0 none;
}

.order-menu ul li.selected {
    background-color: #fff;
}

.order-menu ul li h3 {
    position: relative;
    display: inline-block;
    color: #999999;
    font-weight: normal;
    padding: 0 5px;
}

.order-menu ul li.selected h3 {
    color: #333333;
}

.order-menu ul li.selected h3:before {
    content: '';
    height: 14px;
    width: 2px;
    background: #e8b802;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
}

/**
 * 表格内容
 */

.order-main {
    width: 100%;
    min-height: 420px;
}

.order-main-box {
    padding: 0 20px;
}

/**
 * 头部过滤条
 */
 .order-body-inner.coin-list .order-header{
    height: 60px;
    line-height: 60px;
 }

.order-header {
    height: 90px;
    line-height: 90px;
    border-bottom: 1px solid #f4f4f4;
}

.order-header h2 {
    float: left;
    font-size: 18px;
    padding: 0 20px;
    text-align: left;
}

.order-header .type-select{
    float: right;
    padding-right: 20px;
}

.order-header .filter-box {
    width: 100%;
    text-align: right;
}

.order-header .filter-box ul {
    white-space: nowrap;
    text-align: center;
}

.order-header .filter-box li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    position: relative;
}

.order-header .filter-box li .ant-calendar-picker{
    position: relative;
    top: -3px;
}

.order-header .filter-box .ant-calendar-picker-input {
    background-color: transparent;
}

.order-header .filter-box li label{
    font-size: 14px;
}

.order-header .filter-box li .ant-input {
    border-radius: 3px;
}

.order-header .filter-box .ie11-hack{
    position: absolute;
    width: 100%;
}
.order-header .filter-box .ie11-hack .placeholder {
    width: 50%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}
.order-header label {
    padding-right: 6px;
    display: inline-block;
    vertical-align: middle;
}

.order-header .ant-select {
    min-width: 100px;
}

.order-header .filter-box li button {
    min-width: 108px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #d8d9dd;
    color: #666666;
    border-radius: 30px;
}

/**
 * 表格内容
 */
.order-table {
    font-size: 12px;
}

.order-table .mini-tip {
    margin-top: 60px;
    color: #ccc;
    text-align: center;
    min-height: 46px;
    line-height: 46px;
}

.order-table .mini-loading{
    background-color: rgba(255, 255, 255, 0.7);
}

.order-table .table-hd {
    border-bottom: 1px solid #f4f4f4;
}

.order-table .table-hd table {
    width: 100%;
    color: #999999;
    box-sizing: border-box;
}

.order-table .table-hd table th {
    height: 30px;
}

.order-table .table-bd {
    position: relative;
    min-height: 30px;
}

.order-table .table-bd dl {
    cursor: pointer;
    border-bottom: 1px solid #f4f4f4;
}


.order-table .table-bd dl{
    height: 30px;
    line-height: 30px;
}

.order-table .table-bd dl:hover{
    background: #f8f8f8;
}

.order-table .table-bd .collapse-content-active dl:hover{
    background: none;
}


.order-table .table-bd .collapse-content-active{
    outline: 1px solid #cc9900;
}

.order-table .table-bd dl dd {
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 16px;
    color: #333;
}

/**
 *  表格尾－分页
 */

.order-table .table-ft{
    padding: 20px 0;
}
.order-table .table-ft .ant-pagination {
    text-align: center;
}
/**
 * 公共样式
 */
.order-table .time{
    width: 200px;
    text-align: left;
    text-indent: 10px;
}

.order-table .name{
    width: 80px;
    text-align: right;
}

.order-table .buyorsell{
    width: 140px;
    text-align: right;
}

.order-main-box .action {
    width: 100px;
    text-align: right;
}

.order-main-box .action button {
    background: none;
    border: 0 none;
    color: #cc9900;
    display: inline-block;
    padding-left: 16px;
}
.order-main-box .action button:hover {
    text-decoration-line: underline;
}


.order-table .detail-content {
    position: relative;
    display: none;
    padding: 30px 10%;
    min-height: 60px;
    background-color: #f8f8f8;
}

.order-table .detail-content:after{
    content: '';
    position: absolute;
    right: 70px;
    top: -9px;
    z-index: 2;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #f8f8f8 transparent;
}

.order-table .collapse-content-active .detail-content{
    display: block;
}


.order-table .collapse-content-active .action button{
    background: url('../images/icon-arrow-detail.png') no-repeat left center;
    background-size: 15px 15px;
}

.order-table .detail-content table{
    width: 100%;
}
.order-table .detail-content table,
.order-table .detail-content tr th,
.order-table .detail-content table tr td {
    text-align: left;
    font-size: 12px;
}

.order-table .detail-content table tr.data span.label {
    display: inline-block;
    width: 75px;
}

.order-table .detail-content table tr td.cancel,
.order-table .detail-content table tr td.none {
    text-align: center;
}

.order-table .detail-content table tr td.cancel {
    text-align: left;
}

.order-table .detail-content tr th,
.order-table .detail-content tr td {
    padding: 4px 0;
}

.order-table .detail-content table tr td.cancel span {
    display: inline-block;
    padding: 0;
}

/**
 * 委托中
 */


.order-main-box .open-list-table .num,
.order-main-box .open-list-table .price,
.order-main-box .open-list-table .rate,
.order-main-box .open-list-table .amount{
    width: 160px;
    text-align: right;
}

/**
* 已成交订单
*/

.order-main-box .success-list-table .num,
.order-main-box .success-list-table .tradeprice,
.order-main-box .success-list-table .fee,
.order-main-box .success-list-table .amount {
    width: 185px;
    text-align: right;
}
/**
* 历史委托
*/

.order-main-box .history-list-table .num,
.order-main-box .history-list-table .price,
.order-main-box .history-list-table .tradeprice,
.order-main-box .history-list-table .status {
    width: 160px;
    text-align: right;
}

/**
 * 充币记录
 */
.coin-recharge-list .collapse-content-active .detail-content{
    text-align: center;
    line-height: 60px;
}
.coin-recharge-list .status{
    width: 180px;
    text-indent: 10px;
    text-align: left;
}

.coin-recharge-list .name{
    text-align: center;
}

.coin-recharge-list .num{
    width: 185px;
    text-align: right;
}

.coin-recharge-list .time{
    width: 180px;
    text-align: right;
}

.coin-recharge-list .address{
    width: 435px;
    text-align: right;
}
/**
 * 提币记录
 */
.coin-withdraw-list .status{
    width: 180px;
    text-indent: 10px;
    text-align: left;
}

.coin-withdraw-list .name{
    text-align: left;
}

.coin-withdraw-list .num{
    width: 180px;
    text-align: left;
}

.coin-withdraw-list .time{
    width: 180px;
    text-align: left;
}

.coin-withdraw-list .fee{
    width: 140px;
    text-align: left;
}

.coin-withdraw-list .address{
    width: 300px;
    text-align: right;
}

.coin-withdraw-list .collapse-content-active .detail-content{
    text-align: center;
    line-height: 60px;
}

/**
 * 资金记录
 */
.fiat-list-table .swift-no{
    width: 322px;
    text-align: left;
    text-indent: 10px;
}

.fiat-list-table .time{
    width: 166px;
    text-align: right;
}

.fiat-list-table .name{
    width: 140px;
    text-align: right;
}

.fiat-list-table .balance{
    width: 152px;
    text-align: right;
}

.fiat-list-table .status{
    width: 160px;
    text-align: right;
}

.fiat-list-table .pay-method{
    width: 120px;
    text-align: right;
}


.fiat-list-table .extra-info {
    width: 100%;
    display: none;
    background-color: #f7f7f7;
}

.fiat-list-table .extra-info.show {
    display: block;
}

