/* RESET */

html {
    color: #333;
    backgroundround: #fff
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
    font-style: normal;
    font-weight: 400
}

li {
    list-style: none
}

caption {
    text-align: left
}

abbr,
acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input,
textarea,
select,
button,
option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button {
    font-size: 100%
}

legend {
    color: #000
}

q:before,
q:after {
    content: ''
}

body {
    font: 12px/1.5 tahoma, arial, simsun, sans-serif;
}

a {
    color: #36c;
    text-decoration: none;
}

a:hover {
    color: #f60;
    text-decoration: underline;
}

img {
    vertical-align: middle;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

body .clearfix:after {
    content: ".";
}

.fl {
    float: left
}

.fr {
    float: right
}

.hidden {
    display: none !important;
}

.cb {
    clear: both
}

.cl {
    clear: left
}

.cr {
    clear: right
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.vm {
    vertical-align: middle;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.zoom {
    zoom: 1;
}

.mt10 {
    margin-top: 10px;
}

.red {
    color: red;
}

.orange {
    color: #FF6600;
}

.grey {
    color: #808080;
}

.blue{
    color: #007aff;
}

.bold {
    font-weight: 700;
}

.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

button {
    border: 0 none;
    outline: 0 none;
    cursor: pointer;
}


/*html5 reset*/

section,
article,
aside,
header,
footer,
nav,
dialog,
figure {
    display: block;
    padding: 0;
    margin: 0;
}

html,
body {
    font: 12px/1.5 tahoma, arial, simsun, sans-serif;
    background-color: #fff;
}


/* CSS3 anim */

.has-trans {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

.hidden {
    display: none !important;
}

xmp {
    display: none;
}

input::-webkit-input-placeholder {
    /* WebKit browsers*/
    color: #ccc;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18*/
    color: #ccc;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+*/
    color: #ccc;    
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+*/
    color: #ccc;
}