/**
 * 交易中心皮肤 － 暗
 */

.app-trade-dark {
    background-color: #232323;
}

.app-trade-dark ::-webkit-scrollbar,
.app-trade-dark ::-webkit-scrollbar-track {
    background-color: #161615;
}

.app-trade-dark ::-webkit-scrollbar-thumb {
    background-color: #999;
}

.app-trade-dark .grid-box {
    background-color: #161615;
}
/**
 * 右侧
 */
.app-trade-dark .trade-extra-list .list-box-hd {
    border-color: #20201e;
    color: #fee8c2;
}


.app-trade-dark .list-box-l .list-box-hd li.all {
    background: url('../images/tabicon/all.png') no-repeat center center;
    background-size: 16px 16px;
}


.app-trade-dark .list-box-l .list-box-hd .all:hover {
    background: url('../images/tabicon/all-hover.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-dark .list-box-l .list-box-hd .all.selected {
    background: url('../images/tabicon/all-selected.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-dark .list-box-l .list-box-hd li.sell {
    background: url('../images/tabicon/sell.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-dark .list-box-l .list-box-hd .sell:hover {
    background: url('../images/tabicon/sell-hover.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-dark .list-box-l .list-box-hd .sell.selected {
    background: url('../images/tabicon/sell-selected.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-dark .list-box-l .list-box-hd li.buy {
    background: url('../images/tabicon/buy.png') no-repeat center center;
    background-size: 16px 16px;
}


.app-trade-dark .list-box-l .list-box-hd .buy:hover {
    background: url('../images/tabicon/buy-hover.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-dark .list-box-l .list-box-hd .buy.selected {
    background: url('../images/tabicon/buy-selected.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-dark .trade-extra-list .list-box-bd .table-hd {
    border-color: #20201e;
    color: #ccc;
}


.app-trade-dark .trade-history li:hover {
    background: #333333;
}

.app-trade-dark .trade-history li:hover .number,
.app-trade-dark .trade-history li:hover .time {
    color: #fee8c2;
}
.app-trade-dark .trade-history .list-box-bd .table-bd{
	color: #666;
}
.app-trade-dark .list-box-l .list-box-bd li:hover {
    background-color: #333333;
}


.app-trade-dark .list-box-l .table-bd {
    color: #666;
}

.app-trade-dark .list-box-l li:hover .number,
.app-trade-dark .list-box-l li:hover .total {
    color: #fee8c2;
}

.app-trade-dark .list-box-l .trade-buy-box:after {
    background-color: #20201e;
}

.app-trade-dark .list-box-l .trade-sell-box:after {
    background-color: #20201e;
}


.app-trade-dark .trade-form{
	color: #666666;
}
.app-trade-dark .trade-form-hd{
	border-color: #20201e;
}

.app-trade-dark .trade-form-hd .recharge{
	color: #fee8c2;
}

.app-trade-dark .trade-form-bd .item-total{
    color: #999;
}

.app-trade-dark .trade-form-bd .input-box{
	border-color: #333333;
	background-color: #121211;
}

.app-trade-dark .trade-form-bd .input-box i{
	color: #333;
}

.app-trade-dark .trade-form-bd .input-box input{
	color: #fee8c2;
}

.app-trade-dark .trade-form-bd .ant-slider-mark-text {
    color: #666666;
}

.app-trade-dark .trade-form-bd .ant-slider-rail {
    background-color: #666666;
}
.app-trade-dark .trade-form-bd  .ant-slider:hover .ant-slider-rail {
    background-color: #666666;
}

.app-trade-dark .trade-form-bd .ant-slider-dot {
    background-color: #666666;
}

.app-trade-dark .trade-form-bd .ant-slider-mark-text-active {
    color: #fee8c2;
}

.app-trade-dark .trade-form-bd .ant-slider-handle {
    border: 1px solid #fee8c2;
    background-color: #e8b802;
}

.app-trade-dark .trade-form-bd .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #fee8c2;
}

.app-trade-dark .trade-form-bd .ant-slider-disabled .ant-slider-handle {
    background-color: #666666;
}

.app-trade-dark .trade-form-bd .ant-slider-dot-active {
    border-color: #e6bc1d;
    background-color: #e8b802;
}

.app-trade-dark .trade-form-bd .ant-slider-disabled .ant-slider-dot {
    background-color: #666666;
}

.app-trade-dark .trade-form-bd .ant-slider-handle.ant-tooltip-open {
    border-color: #fee8c2;
}

.app-trade-dark .trade-form-bd .ant-slider-track {
    background-color: #e6bc1d;
}

.app-trade-dark .trade-form-bd .ant-slider:hover .ant-slider-track {
    background-color: #e6bc1d;
}

.app-trade-dark .trade-form-bd .ant-slider-handle:focus {
    box-shadow: none;
    border: 1px solid #fee8c2;
}

/**
 * 左侧
 */
.app-trade-dark .trade-kline-mask {
	background-color: #161615;
}
.app-trade-dark .trade-current-coin{
	border-color: #20201e;
}

.app-trade-dark .trade-current-coin li{
	color: #fee8c2;
}

.app-trade-dark  .trade-current-coin li.coin{
	color: #fee8c2;
}

.popover-tradecoins-dark .ant-popover-arrow {
    background-color: #333;
}

.popover-tradecoins-dark .coin-list-hd input {
    color: #999999;
}

.popover-tradecoins-dark .coin-list-hd .search{
	background-color: #121211;
	border: 1px solid #121211;
}

.popover-tradecoins-dark .coin-list-hd input::placeholder {
    color: rgba(153, 153, 153, 0.2) !important;
}

.popover-tradecoins-dark .coin-list-hd input::-webkit-input-placeholder,
.popover-tradecoins-dark .coin-list-hd input:-moz-placeholder,
.popover-tradecoins-dark .coin-list-hd input::-moz-placeholder,
.popover-tradecoins-dark .coin-list-hd input:-ms-input-placeholder {
    /* WebKit browsers*/
    color: rgba(153, 153, 153, 0.2);
}

.popover-tradecoins-dark .coin-list-hd .ant-input-search-icon {
    color: rgba(153, 153, 153, 0.2);
}

.popover-tradecoins-dark .ant-popover-inner {
    background-color: #333;
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.5);
}


.popover-tradecoins-dark .coin-list {
    color: #999999;
}

.popover-tradecoins-dark .list-hd {
    border-bottom: 1px solid #424242;
    border-top: 1px solid #424242;
    color: #fee8c2;
}


.popover-tradecoins-dark .coin-list-bd dd:hover {
    background-color: #272727;
    color: #fee8c2;
}

.popover-tradecoins-dark .coin-list-bd dd:hover i.anticon-star-o {
    color: #fee8c2;
}

.popover-tradecoins-dark .ant-checkbox-wrapper {
    color: #999999;
}

body .popover-tradecoins-dark input {
    color: #999999;
    background-color: #121211;
}


.popover-tradecoins-dark ::-webkit-scrollbar,
.popover-tradecoins-dark ::-webkit-scrollbar-track {
    background-color: #333;
}

.app-trade-dark .tradeorder-hd{
	border-color: #20201e;
	color: #999999;
}

.app-trade-dark .tradeorder-wrapper .order-table .table-hd{
	border-color: #20201e;
}

.app-trade-dark .tradeorder-wrapper .mini-tip {
    color: #999999;
}

.app-trade-dark .tradeorder-bd .order-table .table-bd dl dd{
    color: #666;
    font-size: 12px;
}

.app-trade-dark .tradeorder-bd .order-table .table-bd dl:hover {
     background: #272727;
}

.app-trade-dark .tradeorder-bd .order-table .table-bd dl:hover dd{
    color: #fee8c2;
}