/**
 * 交易中心皮肤 － 亮
 */

.app-trade-light {
	background-color: #ececec;
}
.app-trade-light .grid-box{
	background-color: #fff;
}
.app-trade-light .trade-extra-list .list-box-hd{
	border-color: #f4f4f4;
	color: #333333;
}
.app-trade-light .list-box-l .list-box-hd li.all {
    background: url('../images/tabicon-light/all.png') no-repeat center center;
    background-size: 16px 16px;
}


.app-trade-light .list-box-l .list-box-hd .all:hover {
    background: url('../images/tabicon-light/all-hover.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-light .list-box-l .list-box-hd .all.selected {
    background: url('../images/tabicon-light/all-selected.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-light .list-box-l .list-box-hd li.sell {
    background: url('../images/tabicon-light/sell.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-light .list-box-l .list-box-hd .sell:hover {
    background: url('../images/tabicon-light/sell-hover.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-light .list-box-l .list-box-hd .sell.selected {
    background: url('../images/tabicon-light/sell-selected.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-light .list-box-l .list-box-hd li.buy {
    background: url('../images/tabicon-light/buy.png') no-repeat center center;
    background-size: 16px 16px;
}


.app-trade-light .list-box-l .list-box-hd .buy:hover {
    background: url('../images/tabicon-light/buy-hover.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-light .list-box-l .list-box-hd .buy.selected {
    background: url('../images/tabicon-light/buy-selected.png') no-repeat center center;
    background-size: 16px 16px;
}

.app-trade-light .trade-extra-list .list-box-bd .table-hd{
	border-color: #f4f4f4;
	color: #999;
}

.app-trade-light .trade-history .list-box-bd .table-bd{
	color: #333333;
}

.app-trade-light .trade-history li:hover {
    background: #f8f8f8;
}

.app-trade-light .trade-history li:hover .number,
.app-trade-light .trade-history li:hover .time {
    color: #333333;
}

.app-trade-light .list-box-l .table-bd {
    color: #333333;
}

.app-trade-light .list-box-l .list-box-bd li:hover {
    background-color: #f8f8f8;
}

.app-trade-light .list-box-l li:hover .number,
.app-trade-light .list-box-l li:hover .total {
    /* color: #999999; */
}


.app-trade-light .list-box-l .trade-buy-box:after {
    background-color: #f4f4f4;
}

.app-trade-light .list-box-l .trade-sell-box:after {
    background-color: #f4f4f4;
}

.app-trade-light .trade-form{
	color: #333333;
}
.app-trade-light .trade-form-hd{
	border-color: #f4f4f4;
}

.app-trade-light .trade-form-hd .recharge{
	color: #cc9900;
}

.app-trade-light .trade-form-bd .item-total{
    color: #333333;
}

.app-trade-light .trade-form-bd .input-box{
	border-color: #d9d9d9;
}

.app-trade-light .trade-form-bd .input-box i{
	color: #cccccc;
}

.app-trade-light .trade-form-bd .input-box input{
	color: #333333;
}

.app-trade-light .trade-form-bd .ant-slider-mark-text {
    color: #cccccc;
}
.app-trade-light .trade-form-bd .ant-slider-rail {
    background-color: #cccccc;
}
.app-trade-light .trade-form-bd  .ant-slider:hover .ant-slider-rail {
    background-color: #cccccc;
}

.app-trade-light .trade-form-bd .ant-slider-dot {
    background-color: #cccccc;
}
.app-trade-light .trade-form-bd .ant-slider-mark-text-active {
    color: #cc9900;
}
.app-trade-light .trade-form-bd .ant-slider-handle {
    border: 1px solid #cc9900;
    background-color: #e8b802;
}

.app-trade-light .trade-form-bd .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #cc9900;
}

.app-trade-light .trade-form-bd .ant-slider-disabled .ant-slider-handle {
    background-color: #666666;
}

.app-trade-light .trade-form-bd .ant-slider-dot-active {
    border-color: #e8b802;
    background-color: #e8b802;
}

.app-trade-light .trade-form-bd .ant-slider-disabled .ant-slider-dot,
.app-trade-light .trade-form-bd .ant-slider-disabled .ant-slider-handle {
    background-color: #ccc;
}

.app-trade-light .trade-form-bd .ant-slider-handle.ant-tooltip-open {
    border-color: #cc9900;
}

.app-trade-light .trade-form-bd .ant-slider-track {
    background-color: #e8b802;
}

.app-trade-light .trade-form-bd .ant-slider:hover .ant-slider-track {
    background-color: #e8b802;
}

.app-trade-light .trade-form-bd .ant-slider-handle:focus {
    box-shadow: none;
    border: 1px solid #cc9900;
}
/**
 * 左侧
 */
.app-trade-light .trade-kline-mask {
	background-color: #fff;
}

.app-trade-light .trade-current-coin{
	border-color: #f4f4f4;
}
.app-trade-light .trade-current-coin li{
	color: #333333;
}
.app-trade-light  .trade-current-coin li.coin{
	color: #333333;
}


.popover-tradecoins-light .coin-list-hd .search{
	background-color: #fff;
	border: 1px solid #cccccc;
}

.popover-tradecoins-light .ant-checkbox-wrapper {
    color: #333333;
}

.popover-tradecoins-light .coin-list {
	color: #333333;
}
.popover-tradecoins-light .list-hd {
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
    color: #999999;
}

.popover-tradecoins-light .coin-list-bd dd:hover {
    background-color: #f8f8f8;
}

.app-trade-light .tradeorder-hd{
	border-color: #f4f4f4;
	color: #333333;
}

.app-trade-light .tradeorder-wrapper .order-table .table-hd{
	border-color: #f4f4f4;
}

.app-trade-light .tradeorder-wrapper .mini-tip {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 50%;
    margin-top: -23px;
    color: #666;
}


.antd-modal-light .ant-modal-content,
.antd-modal-light .ant-modal-header{
   
}

.antd-modal-light .ant-modal-header {
    border-bottom: 1px solid #f4f4f4;
    padding: 0 20px;
}

.antd-modal-light .ant-modal-title{
    font-size: 14px;
    color: #333333;
    height: 40px;
    line-height: 40px;
}

.antd-modal-light .ant-modal-body {
    padding: 30px 20px;
}

.antd-modal-light .popup-trade-password .input-box{
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: #333333;
    border-radius: 4px;
}

.antd-modal-light .ant-modal-close-x{
    color: #a3a3a3;
    height: 40px;
    line-height: 40px;
}
