.app-trade{
    background-color: #f8f8fb;
}


.app-trade .header-box {
    width: 100%;
    background-color: #161615;
}


.trade-wrapper {
    position: relative;
    padding: 0 10px;
    margin: 0 auto;
    color: #000;
    min-height: 200px;
    box-sizing: border-box;
}



.trade-main {
    padding-right: 540px;
    padding-bottom: 10px;
    padding-top: 10px;
}




/**
 * 图表模块
 */

.trade-main-chart {
    min-height: 270px;
    position: relative;
}

.trade-main-chart .chart-box {
    position: relative;
    height: 100%;
    padding-top: 41px;
    width: 100%;
    border-radius: 10px;
    overflow:  hidden;
}

.trade-main-chart .chart-menu{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    overflow: hidden;
}

.trade-main-chart .chart-menu li{
    float: left;
    padding: 0 10px;
    cursor: pointer;
    height: 40px;
    color: #999999;
    border-bottom: 2px solid transparent;
}

.trade-main-chart .chart-menu li.selected{
    border-bottom: 2px solid #cc9900 !important;
    color: #cc9900;
}
/**
 * 币种信息
 */

.trade-current-coin {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
    z-index: 3;
    font-size: 14px;
}

.trade-current-coin ul {
    padding: 0 10px;
}

.trade-current-coin li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    color: #333333;
}

.trade-current-coin li label,
.trade-current-coin li em {
    display: inline-block;
    vertical-align: middle;
}

.trade-current-coin li em {
    padding: 0 5px;
}

.trade-current-coin li.coin {
    font-size: 18px;
    color: #333333;
}


.trade-current-coin li.coin label {
    padding: 0 5px;
    text-align: center;
    cursor: pointer;
}

.trade-current-coin li.coin i {
    cursor: pointer;
}



.trade-current-coin li.coin em {
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
}


.trade-current-coin .theme-menu {
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 42px;
}

.trade-current-coin .theme-menu label {
    margin-right: 10px;
}

.trade-current-coin .ant-switch-checked {
    border-color: #ff3380;
    background-color: #ff3380;
}

.trade-current-coin .coin-list {
    width: 490px;
    min-height: 128px;
    color: #999999;
}

.trade-current-coin .coin-list-hd {
    padding: 10px 0
}

.trade-current-coin .coin-list-hd .search {
    width: 230px;
    height: 30px;
    border: 0 none;
    float: left;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.trade-current-coin .coin-list-hd .tab {
    float: right;
    height: 28px;
    line-height: 28px;
}

.trade-current-coin .coin-list-hd input {
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: #333;
    border: 0 none;
    outline: 0 none;
    text-indent: 10px;
    background: none;
}

.trade-current-coin .coin-list-hd .anticon-search {
    width: 30px;
}

.trade-current-coin .coin-list-bd {
    margin-top: 10px;
}

.trade-current-coin .coin-list-bd dl.list-hd .price,
.trade-current-coin .coin-list-bd dl.list-hd .rate,
.trade-current-coin .coin-list-bd dl.list-hd .volume {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.trade-current-coin .coin-list-bd dl.list {
    max-height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.trade-current-coin .coin-list-bd dl.list dd:hover {
    background-color: #f8f8fb;
    color: #333333;
}
.trade-current-coin .coin-list-bd dd{
    cursor: pointer;
}
.trade-current-coin .coin-list-bd dd,
.trade-current-coin .coin-list-bd dt {
    overflow: hidden;
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}

.trade-current-coin .coin-list-bd .cell {
    float: left;
}

.trade-current-coin .coin-list-bd .cell.star {
    width: 70px;
    text-align: left;
}

.trade-current-coin .coin-list-bd .list.collected .false {
    display: none;
}

.trade-current-coin .coin-list-bd .cell.star .anticon-star{
    color: #e6bc1d;
}

.trade-current-coin .coin-list-bd .cell.name {
    width: 60px;
    text-align: center;
}

.trade-current-coin .coin-list-bd .cell.price {
    width: 110px;
    text-align: right;
}

.trade-current-coin .coin-list-bd .cell.rate {
    width: 110px;
    text-align: right;
}

.trade-current-coin .coin-list-bd .cell.volume {
    width: 120px;
    text-align: right;
}

.trade-current-coin .coin-list-bd .rate[data-status="0"] {
    color: #ff3380;
}

.trade-current-coin .coin-list-bd .rate[data-status="1"] {
    color: #00d02c;
}

.trade-current-coin .popover-tradecoins-dark .ant-popover-inner {
    background-color: #333;
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.5);
}

.trade-current-coin .popover-tradecoins-dark .ant-popover-arrow{
    background-color: #333;
}

.trade-current-coin .popover-tradecoins-dark .coin-list {
    color: #999999;
}

.trade-current-coin .popover-tradecoins-dark .coin-list-bd dl.list dd:hover {
    background-color: #272727;
    color: #fee8c2;
}

.trade-current-coin .popover-tradecoins-dark .ant-checkbox-wrapper {
    color: #999999;
}

.trade-current-coin .coin-list-hd .popover-tradecoins-dark input {
    color: #999999;
    background-color: #121211;
}

.trade-current-coin .list-hd{
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
}
.trade-current-coin .popover-tradecoins-dark .list-hd{
    border-bottom: 1px solid #1f1f1d;
    border-top: 1px solid #1f1f1d;
}



/**
 * 币种K线图
 */

.trade-kline-chart {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: 0;
    display: block;
}

.trade-kline-chart[data-show="hide"]{
    display: none;
}


.trade-kline-chart iframe {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 2px;
    width: 100% !important;
    height: 100% !important;
}


.trade-main-order {
    position: relative;
    background-color: #fff;
    color: #666666;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.trade-main-order .order-box {}

.trade-extra {
    padding: 10px 0;
    float: right;
    position: relative;
}

.trade-extra-content {
    width: 530px;
    position: relative;
}

.trade-extra-list {
    overflow: hidden;
}

.trade-current-amount {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    font-size: 18px;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}

.trade-extra-list .list-box-l {
    float: left;
    width: 260px;
    position: relative;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.trade-extra-list .list-box-l .list-box-hd {
    height: 42px;
    line-height: 42px;
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
}

.trade-extra-list .list-box-l .list-box-hd li {
    float: left;
    width: 40px;
    height: 42px;
    cursor: pointer;
}

.trade-extra-list .list-box-l .list-box-hd li.all {
    background: url('../images/icon-all.png') no-repeat center center;
    background-size: 16px 16px;
}

.trade-extra-list .list-box-l .list-box-hd li.buy {
    background: url('../images/icon-buy.png') no-repeat center center;
    background-size: 16px 16px;
}

.trade-extra-list .list-box-l .list-box-hd li.sell {
    background: url('../images/icon-sell.png') no-repeat center center;
    background-size: 16px 16px;
}

.trade-extra-list .list-box-l .table-hd {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #666666;
    padding: 0 15px;
    border-bottom: 1px solid #f4f4f4;
}

.trade-extra-list .list-box-l .table-bd {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #999;
}

.trade-extra-list .list-box-l .trade-buy-box,
.trade-extra-list .list-box-l .trade-sell-box {
    position: relative;
    -webkit-box-flex: 1;
}

.trade-extra-list .list-box-l .trade-buy {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
}

.trade-extra-list .list-box-l .trade-sell {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.trade-extra-list .list-box-l .trade-sell ul {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

.trade-extra-list .list-box-l .trade-buy ul {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

.trade-extra-list .list-box-l .trade-buy li,
.trade-extra-list .list-box-l .trade-sell li {
    position: relative;
    padding: 0 15px;
    min-height: 21px;
    line-height: 21px;
    max-height: 26px;
    height: 10%;
}

.trade-extra-list .list-box-l .list-box-bd li:hover {
    background-color: #f4f4f4;
}

.trade-extra-list .list-box-l li .cell {
    cursor: pointer;
    position: relative;
    z-index: 2;
}


.trade-extra-list .list-box-l .price {
    width: 30%;
    float: left;
}

.trade-extra-list .list-box-l .number {
    width: 30%;
    float: left;
    text-align: right;
}

.trade-extra-list .list-box-l .total {
    width: 40%;
    float: left;
    text-align: right;
}

.trade-extra-list .list-box-l .bar {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.trade-extra-list .list-box-l li[data-type="buy"] .bar {
    background: rgba(6, 255, 0, 0.3);
}

.trade-extra-list .list-box-l li[data-type="sell"] .bar {

    background: rgba(255, 51, 128, 0.3);
}









/**
 * 实时行情
 */

.trade-extra-list .list-box-r {
    float: right;
    width: 260px;
    position: relative;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.trade-extra-list .list-box-r .trade-history {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.trade-extra-list .list-box-r .title {
    position: absolute;
    left: 0;
    top: 0;
    height: 42px;
    line-height: 42px;
    width: 100%;
    padding: 0 15px;
    z-index: 2;
    font-size: 14px;
    color: #333333;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
}

.trade-extra-list .list-box-r .table-hd{
    position: absolute;
    left: 0;
    top: 42px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #666666;
    padding: 0 15px;
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
    z-index: 2;
}

.trade-extra-list .list-box-r .table-bd {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    color: #999999;
}

.trade-extra-list .list-box-r ul {
    padding: 72px 0 10px;
}

.trade-extra-list .list-box-r li {
    line-height: 22px;
    height: 22px;
    padding: 0 15px;
    cursor: pointer;
}

.trade-extra-list .list-box-r .table-bd li:hover {
    background: #f8f8fb;
}


.trade-extra-list .list-box-r .time {
    width: 25%;
    float: left;
    text-align: left;
}

.trade-extra-list .list-box-r .price {
    width: 35%;
    float: left;
    text-align: right;
}

.trade-extra-list .list-box-r .number {
    width: 40%;
    float: left;
    text-align: right;
}

.trade-extra-list .trade-buy {}

.trade-extra-list .trade-sell {}

.trade-extra-handle {
    min-height: 280px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
}






/**
 * trade-form
 */

.trade-form {
    color: #666666;
}

.trade-form-hd {
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    border-bottom: 1px solid #f8f8fb;
    font-size: 14px;
}

.trade-form-hd em {
    padding: 0 5px;
}

.trade-form-hd a,
.trade-form-hd a:hover {
    color: #e6bc1d;
    padding: 0 3px;
}

.trade-form-hd .recharge {
    position: absolute;
    right: 5px;
    top: 0;
    height: 42px;
    line-height: 42px;
    color: #e6bc1d;
    cursor: pointer;
}

.trade-form-l,
.trade-form-r {
    position: relative;
    float: left;
    width: 50%;
}

.trade-form-bd {
    font-size: 12px;
}

.trade-form-bd ul {
    padding: 5px 10px;
}

.trade-form-bd ul li {
    overflow: hidden;
    margin-bottom: 5px;
}


.trade-form-bd em {
    padding: 0 5px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.trade-form-bd label {
    line-height: 16px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.trade-form-bd .btn {
    border-radius: 4px;
    width: 240px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
}


.trade-form-bd .btn.buy {
    background-color: #33c280;
    border: 1px solid #33c280;
}

.trade-form-bd .btn.sell {
    border: 1px solid #ef5d7f;
    color: #ef5d7f;
    background: none;
}

.trade-form-bd button.btn:disabled {
    cursor: not-allowed;
    color: #999;
    background-color: #f2f2f2!important;
    border: 1px solid #f2f2f2;
}

.trade-form-bd .input-box {
    display: inline-block;
    position: relative;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 30px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    width: 180px;
    float: right;
}

.trade-form-bd .input-box i {
    position: absolute;
    right: 1px;
    top: 0;
    padding: 0 3px;
    height: 30px;
    line-height: 30px;
    font-style: normal;
}

.trade-form-bd .input-box input {
    border: 0 none;
    background: none;
    height: 26px;
    line-height: 26px;
    outline: 0 none;
    width: 100%;
}

.trade-form-bd .slider-box {
    padding: 0 10px 10px;
}

.trade-form .ant-slider {
    font-size: 12px;
    margin-bottom: 10px;
}

.trade-form .ant-slider-mark {
    font-size: 12px;
}

.trade-form .ant-slider-mark-text-active {
    color: #e6bc1d;
}

.trade-form .ant-slider-handle,
.trade-form .ant-slider-dot-active {
    border-color: #e6bc1d;
}

.trade-form .ant-slider-track {
    background-color: #e6bc1d;
}

.trade-form .ant-slider:hover .ant-slider-track {
    background-color: #e6bc1d;
}

.trade-form .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #e6bc1d;
}

.trade-form .ant-slider-handle:focus {
    /* border-color: #e6bc1d;
    -webkit-box-shadow: 0 0 0 5px #e6bc1d;
    -moz-box-shadow: 0 0 0 5px #e6bc1d;
    box-shadow: 0 0 0 5px #e6bc1d; */
    box-shadow: none;
}

.trade-form .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #e6bc1d;
}


/**
 * 我的订单模块
 */

.tradeorder-wrapper {
    height: 100%;
    margin-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.tradeorder-wrapper .mini-tip {
    text-align: center;
    padding-top: 20px;
}

.tradeorder-wrapper .mini-tip a,
.tradeorder-wrapper .mini-tip a:hover{
    color: #e6bc1d;
}

.tradeorder-hd {
    width: 100%;
    height: 42px;
}

.tradeorder-hd ul {
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    font-size: 16px;
    overflow: hidden;
}

.tradeorder-hd li {
    float: left;
    padding: 0 10px;
    cursor: pointer;
    height: 41px;
}

.tradeorder-hd li.selected {
    border-bottom: 2px solid #cc9900;
    color: #cc9900;
}

.tradeorder-hd .extra {
    position: absolute;
    right: 10px;
    top: 0;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}

.tradeorder-hd .extra label {
    padding: 0 10px;
}

.tradeorder-bd .order-header{
    display: none;
}
.tradeorder-bd .order-table{
    margin: 0;
}

.tradeorder-hd ul {
    padding: 0 10px;
}

.tradeorder-hd li {
    display: inline-block;
    font-size: 14px;
}

.tradeorder-hd {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 42px;
    z-index: 2;
    line-height: 42px;
    background: #fff;
}

.tradeorder-bd {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.tradeorder-bd .order-main-box{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-top: 42px;
    box-sizing: border-box;
}

.tradeorder-bd .order-table .list li:hover {
    background-color: #f8f8fb;
}

.tradeorder-bd .order-table .table-bd dl{
    border-bottom: 0 none;
}

.tradeorder-bd .order-table .table-bd dl:hover {
   background-color: #f4f4f4;
}
/**
 * 暗色
 */

.app-trade[data-theme="dark"]{
    background-color: #232323;
}

.app-trade[data-theme="dark"] .trade-extra-list .list-box-l .list-box-bd li:hover,
.app-trade[data-theme="dark"] .trade-extra-list .list-box-r .table-bd li:hover,
.app-trade[data-theme="dark"] .order-table .table-bd dl:hover{
    background-color: #333333;
}

.app-trade[data-theme="dark"] .trade-current-coin .info-list li,
.app-trade[data-theme="dark"] .trade-extra-list .list-box-r .title{
    color: #fee8c2;    
}

.app-trade[data-theme="dark"] .trade-extra-list .list-box-l .table-bd,
.app-trade[data-theme="dark"] .trade-extra-list .list-box-r .table-bd,
.app-trade[data-theme="dark"] .trade-current-coin li.coin,
.app-trade[data-theme="dark"] .trade-form,
.app-trade[data-theme="dark"] .order-table dd,
.app-trade[data-theme="dark"] .trade-extra-list,
.app-trade[data-theme="dark"] .trade-current-coin .coin-list-hd input {
    color: #999999;
}

.app-trade[data-theme="dark"] .trade-current-coin,
.app-trade[data-theme="dark"] .tradeorder-hd,
.app-trade[data-theme="dark"] .order-table .table-hd,
.app-trade[data-theme="dark"] .trade-extra-list .list-box-l .table-hd,
.app-trade[data-theme="dark"] .trade-extra-list .list-box-r .title,
.app-trade[data-theme="dark"] .trade-extra-list .list-box-r .table-hd,
.app-trade[data-theme="dark"] .trade-extra-list .list-box-l .list-box-hd,
.app-trade[data-theme="dark"] .trade-form-hd{
    border-bottom: 1px solid #20201e;
}

.app-trade[data-theme="dark"] .tradeorder-hd,
.app-trade[data-theme="dark"] .trade-kline-chart,
.app-trade[data-theme="dark"] .trade-extra-handle,
.app-trade[data-theme="dark"] .trade-main-order,
.app-trade[data-theme="dark"] .trade-current-coin,
.app-trade[data-theme="dark"] .trade-extra-list .list-box-r,
.app-trade[data-theme="dark"] .trade-extra-list .list-box-l,
.app-trade[data-theme="dark"] .trade-extra-list .list-box-r .title,
.app-trade[data-theme="dark"] .trade-extra-list .list-box-r .table-hd,
.app-trade[data-theme="dark"] .trade-extra-list .list-box-l .list-box-hd{
    background-color: #161615;
}

.app-trade[data-theme="dark"] .trade-current-amount{
    border-top: 1px solid  #20201e;
    border-bottom: 1px solid  #20201e;
}

.app-trade[data-theme="dark"] .trade-form-bd button.btn:disabled {
    cursor: not-allowed;
    color: #999;
    background-color: #333!important;
    border: 1px solid #333;
}

.app-trade[data-theme="dark"] .trade-current-coin .coin-list-hd .search{
    background-color: #121211;
}
