.user-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 面包屑导航 */

.user-wrapper .user-breadcrumb.ant-breadcrumb {
    padding: 10px 0 17px;
}

body .user-main .ant-select-dropdown-menu-item {
    line-height: 32px;
}

/* 头部提示 */

.user-main .page-content-inner .ace-top-tips {
    background-color: #fefbe8;
    border: solid 1px #fbe59a;
    font-size: 14px;
    text-align: center;
    border-radius: 0;
    padding: 10px 0;
    margin-top: 10px;
}

/* 验证码 */

.user-main .modify-password-box .v-code {
    width: 338px;
    display: inline-block;
}

.user-main .modify-password-box .item.v-code-button {
    width: 110px;
    text-align: center;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.user-main .modify-password-box .input-vcode-wrapper .item.v-code-button {
    position: absolute;
    right: 0;
    top: 22px;
}

.user-main .modify-password-box .input-vcode-wrapper {
    position: relative;
}

.user-main .modify-password-box .v-code-button .sms-btn {
    position: relative;
    width: 115px;
    height: 100%;
    right: 4px;
    top: 1px;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #ccc;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.user-main .modify-password-box .v-code-button img {
    height: 40px;
    width: 100px;
    border-radius: 3px;
    vertical-align: top;
    margin-left: 10px;
    margin-top: -3px;
}

/* 按钮 */

.user-main .content-body .ant-btn.ace-btn-large,
.user-main .content-body .ant-btn.ace-btn-middle,
.user-main .content-body .ant-btn.ace-btn-small {
    background-color: #e8b802;
    border: none;
    color: #333;
}

.user-main .content-body .ant-btn.ace-btn-large {
    height: 40px;
}

.user-main .content-body .ant-btn.ace-btn-middle {
    height: 30px;
}

.user-main .content-body .ant-btn.ace-btn-small {
    height: 24px;
}

.user-main .content-body .ant-btn.ace-btn-white {
    background-color: #fff;
    border: solid 1px #ccc;
    color: #333;
    border-radius: 2px;
    height: 24px;
    font-size: 12px;
}

.user-main .content-body .ant-btn.ace-btn-white:hover {
    background-color: #e8b802;
    border-color: #e8b802;
}

.user-main .ant-btn.ace-secondary {
    border-radius: 2px;
    height: 24px;
    font-size: 12px;
    background-color: #e7b508;
    border-color: #e7b508;
}

.user-main .ant-btn.ace-secondary:hover {
    background-color: #ffdc57;
    color: #333;
    border-color: #ffdc57;
}

.user-main .authentication-content .ant-btn:disabled:hover {
    border-color: #d9d9d9;
    color: #ccc;
}

.user-main .authentication-content .ant-btn:hover {
    color: #333;
    border-color: #ffdc57;
}

.user-main .ant-btn.ace-main {
    background-color: #e8b802;
    color: #333;
    height: 40px;
}

.user-main .content-body .ace-btn {
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    background-color: #e8b802;
    color: #333;
    display: inline-block;
    min-width: 160px;
    font-size: 14px;
}

.user-main .content-body .ace-btn:hover {
    background-color: #ffdc57;
}

/*  */

.user-main .ace-form .ace-upload-mod.pic-item header {
    overflow: hidden;
    border-bottom: solid 1px #f4f4f4;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
}

.user-main .ace-form .ace-upload-mod.pic-item .item-title {
    float: left;
}

.user-main .ace-form .ace-upload-mod.pic-item .item-tip {
    float: right;
    color: #cc9900;
    cursor: pointer;
}
.user-main .ace-form .ace-upload-mod.pic-item .item-tip:hover {
    text-decoration-line: underline;
}
.user-main .ace-form .ace-upload-mod.pic-item section {
    padding: 20px 0 5px;
    position: relative;
}

.user-main .ace-form .center {
    text-align: center;
}

.user-main .ace-form .ace-upload-mod.pic-item .pic-upload {
    display: block;
    text-align: center;
}

/* 底部提示统一样式 */

.user-main .custom-tips {
    margin: 0 auto;
    border-top: solid 1px #f2f2f2;
    text-align: left;
    padding-top: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

.user-main a.ace-link {
    color: #cc9900;
}

.user-main .page-content-inner a:hover {
    text-decoration: none;
}

.user-main .no-auth-message a.ace-btn {
    margin-top: 10px;
}

.user-body-inner {
    padding-left: 220px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.aside-left {
    float: left;
    width: 220px;
    padding-right: 20px;
    margin-left: -220px;
}

.aside-left .info {
    text-align: center;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}

.aside-left .info .name {
    width: 160px;
}

.aside-left .info .name,
.aside-left .info .id {
    text-overflow: ellipsis;
    overflow: hidden;
}

.aside-left .info .name {
    font-size: 15px;
    color: #999;
}

.aside-left .info .id {
    font-size: 12px;
    color: #999;
}

.aside-left .menu {
    border-radius: 6px;
    background-color: #fff;
}

.aside-left .menu .menu-submenu,
.aside-left .menu .menu-submenu-title {
    border-bottom: 1px solid #f3f3f3;
}

.aside-left .menu .menu-submenu {
    text-align: center;
    padding-bottom: 10px;
}

.aside-left .menu .menu-submenu-title {
    margin-bottom: 10px;
    height: 40px;
    text-align: left;
    text-indent: 20px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.aside-left .menu .menu-submenu-item {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-right: 3px solid transparent;
}

.aside-left .menu .menu-submenu-item a {
    display: block;
    text-align: left;
    text-indent: 50px;
    color: #999;
}

.aside-left .menu .menu-submenu-item a:hover,
.aside-left .menu .menu-submenu-item a:focus,
.aside-left .menu .menu-submenu-item a:active {
    text-decoration: none;
}

.aside-left .menu .menu-submenu-item.active-item,
.aside-left .menu .menu-submenu-item:hover {
    background-color: #fffbe9;
    box-sizing: border-box;
    border-right: 3px solid #e7b400;
}

.aside-left .menu .menu-submenu-item.active-item a,
.aside-left .menu .menu-submenu-item:hover a {
    color: #cc9900;
}

.user-main .top-radius-6 {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.user-main .bottom-radius-6 {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.user-main.ace-page-content .content-title,
.user-main.ace-page-content .section-title {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #333;
}

.user-main.ace-page-content .content-body,
.user-main.ace-page-content .section-body {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.user-main .no-auth-message .ant-btn.ace-main {
    margin-top: 30px;
}

/**
 * 基本信息
 */

.page-content-inner.base-info .ace-section.info .section-body {
    position: relative;
    overflow: hidden;
}

.page-content-inner.base-info .ace-section.info .section-body::after {
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    background-color: #f4f4f4;
    position: absolute;
    right: 50%;
    top: 0;
}

.page-content-inner.base-info .ace-section.info .ant-col-12.left {
    padding-right: 20px;
    padding-top: 30px;
    text-align: center;
}

.page-content-inner.base-info .ace-section .ant-row .phone {
    font-size: 24px;
    height: 33px;
    color: #333;
}

.page-content-inner.base-info .ace-section .ant-row .login-time {
    font-size: 14px;
    color: #999;
}

.page-content-inner.base-info .ace-section .ant-row.bind-status {
    width: 210px;
    margin: 20px auto;
}

.page-content-inner.base-info .ace-section.info .ant-col-12.right {
    padding: 5px 0 0 20px;
}

.page-content-inner.base-info .grade-label {
    color: #999;
    font-size: 14px;
}

.page-content-inner.base-info .ant-row.bind-status .ant-col-12 img {
    width: 30px;
    margin-bottom: 6px;
}

.page-content-inner.base-info .ant-row.bind-status .ant-col-12 {
    color: #ccc;
}

.page-content-inner.base-info .ant-row.bind-status .ant-col-12.auth {
    color: #cc9900;
}

.page-content-inner.base-info .grade-info {
    text-align: center;
    padding: 30px 0 10px;
}

.page-content-inner.base-info .grade-info .state {
    height: 60px;
}

.page-content-inner.base-info .grade-info .state-inner {
    padding-left: 120px;
    text-align: left;
    line-height: 25px;
}

.page-content-inner.base-info .grade-info .state-inner img {
    width: 40px;
    margin: 0 10px 0 0;
    float: left;
}

.page-content-inner.base-info .account-result-list.login-log .table-bd li:last-child {
    border-bottom: none;
}

.page-content-inner.base-info .account-result-list.login-log dd {
    width: 33%;
    text-align: center;
}

.page-content-inner.base-info .account-result-list.login-log dd.time,
.page-content-inner.base-info .account-result-list.login-log dd.location {
    padding: 20px;
    box-sizing: border-box;
}

.page-content-inner.base-info .account-result-list.login-log dd.time {
    text-align: left;
}

.page-content-inner.base-info .account-result-list.login-log dd.location {
    text-align: right;
}

.page-content-inner.base-info .grade-info .state-inner .text {
    color: #333;
    font-size: 18px;
}

.page-content-inner.base-info .grade-info .state-inner .money {
    color: #999999;
    font-size: 14px;
}

.page-content-inner.base-info .grade-info .upgrade a {
    line-height: 37px;
    font-size: 14px;
    color: #cc9900;
}

.page-content-inner.base-info .grade-info .upgrade a:hover {
    text-decoration: underline;
}

.page-content-inner.base-info .grade-info .upgrade img {
    height: 7px;
    margin-left: 6px;
}

.page-content-inner.base-info .grade-info .state {
    position: relative;
}

.page-content-inner.base-info .grade-info .no-auth {
    font-size: 18px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}

.user-main .login-reminding {
    margin-left: 270px;
    margin-top: 25px;
}

.user-main .login-reminding>span:first-child {
    margin-right: 15px;
    font-size: 12px;
    color: #999999;
}

.user-main .login-reminding .ant-switch-checked {
    background-color: #e6bc1d;
}

.user-main .info-box {
    padding-bottom: 45px;
    border-bottom: 1px solid #ccc;
}

.user-main .ant-table {
    margin-top: 50px;
}

.user-main table {
    width: 100%;
}

.user-main table tr {
    height: 50px;
    line-height: 50px;
}

.user-main .no-auth-message {
    margin: 80px 0;
    text-align: center;
    font-size: 18px;
    color: #333333;
}

.user-main .ant-table-body {
    max-height: 250px;
    overflow-y: scroll;
}

.user-main table th {
    text-align: center;
    color: #666666;
    font-size: 16px;
}

.user-main table td {
    text-align: center;
}

/**
 * 身份认证
 */

.user-main .authentication-title {
    color: #333333;
    font-size: 18px;
    margin-bottom: 20px;
}

.user-main .authentication .content-title .title-right .ant-steps-item-icon {
    width: 20px;
    height: 20px;
    line-height: 22px;
}

.user-main .authentication .content-title .ant-steps-item.ant-steps-item-finish .ant-steps-item-title {
    color: #999;
}

.user-main .authentication .content-title .ant-steps-small .ant-steps-item-title {
    line-height: 21px;
}

.user-main .authentication .content-title .ant-steps-small .ant-steps-item-title:after {
    top: 10px;
}

.user-main .authentication .content-title .ant-steps-item.ant-steps-item-finish:nth-child(3) .ant-steps-item-title {
    color: #333;
}

.user-main .authentication .content-title .ant-steps-item.ant-steps-item-finish:nth-child(3) .ant-steps-item-icon {
    background-color: #e8b802;
    border-color: #e8b802;
}

.user-main .authentication .content-title .ant-steps-item.ant-steps-item-finish:nth-child(3) .ant-steps-item-icon>.ant-steps-icon {
    color: #fff;
}

.user-main .authentication-message {
    margin-top: 200px;
    text-align: center;
    font-size: 18px;
    color: #333333;
}

.authentication-content {
    /* padding-left: 100px; */
}

.user-main .authentication .content-title .title-right {
    float: right;
    margin: 20px 20px 0 0;
    width: 380px;
}

.user-main .authentication .content-title .title-right .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
    color: #e9bb0d;
}

.user-main .authentication .content-title .title-right .ant-steps-item-finish .ant-steps-item-icon {
    border-color: #e9bb0d;
}

.user-main .authentication .content-title .title-right .ant-steps-item-finish>.ant-steps-item-content>.ant-steps-item-title:after {
    background-color: #e9bb0d;
}

.user-main .authentication .content-title .title-right .ant-steps-item-process .ant-steps-item-icon {
    background: #e9bb0d;
}

.user-main .authentication .content-title .title-right .ant-steps-item-process .ant-steps-item-icon {
    border-color: #e9bb0d;
}

.user-main .ace-form.auth-step-1 .muti-filed,
.user-main .ace-form.auth-step-1 .muti-select {
    position: relative;
}

.user-main .ace-form.auth-step-1 .ace-input-item .error-message,
.user-main .ace-form.auth-step-1 .ace-input-item .item-error {
    color: #ff6666;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select .message {
    padding-top: 4px;
}

.user-main .ace-form.auth-step-1 .muti-filed .ace-input-item,
.user-main .ace-form.auth-step-1 .muti-select .ace-input-item {
    width: 210px;
    float: left;
    margin-right: 30px;
}

.user-main .ace-form.auth-step-1 .muti-filed .ace-input-item .item-error,
.user-main .ace-form.auth-step-1 .select.time-label .error-message {
    padding-top: 4px;
    color: #ff6666;
}

.user-main .ace-form.auth-step-1 .muti-select .ace-input-item .error-message {
    padding-top: 6px;
    color: #ff6666;
}

.user-main .ace-form.auth-step-1 .muti-filed .ace-input-item input.input,
.user-main .ace-form.auth-step-1 .muti-select div.input {
    margin-bottom: 15px;
}

.user-main .ace-form.auth-step-1 .muti-filed .message,
.user-main .ace-form.auth-step-1 .muti-select .message {
    position: absolute;
    top: 65px;
    font-size: 12px;
    color: #999;
}

.user-main .ace-form.auth-step-1 .muti-select .message {
    top: 67px;
}

.user-main .ace-form.auth-step-1 .muti-filed .ace-input-item.last,
.user-main .ace-form.auth-step-1 .muti-select .ace-input-item.last {
    margin-right: 0;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select::after {
    display: block;
    height: 1px;
    content: '';
    clear: both;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select div.input {
    border: none;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select.time-label .ant-select {
    float: left;
    width: 130px;
    margin-right: 29px;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select.time-label .ant-select.last {
    margin-right: 0;
}

.user-main .ace-form.auth-step-1 .ant-select {
    width: 100%;
    display: block;
}

.user-main .ace-form.auth-step-1 .ant-select-selection--single {
    height: 42px;
}

.user-main .ace-form.auth-step-1 .ant-select-selection__placeholder {
    top: 37%;
    height: 32px;
    line-height: 32px;
}

.user-main .ace-form.auth-step-1 .ant-select-selection__rendered {
    line-height: 42px;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select.radio .label {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: solid 1px #f2f2f2;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select.radio {
    position: relative;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select.radio div.input {
    text-indent: 0;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select.radio .ant-input {
    position: absolute;
    left: 79%;
    width: 120px;
    top: 49px;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select .error-message,
.user-main .ace-form.auth-step-1 .ace-input-item.select .message {
    display: block;
    width: 100%;
    float: left;
}

.user-main .ace-form.auth-step-1 .ant-select-selection__rendered {
    margin-left: 0px;
}

.user-main .ace-form.auth-step-1 .ant-upload-list {
    width: 240px;
    margin-left: 20px;
    display: none;
}

.user-main .ace-form.auth-step-1 .item.center {
    text-align: center;
}

.user-main .authentication .step {
    display: inline-block;
}

.user-main .authentication .step>span {
    display: block;
    text-align: center;
}

.user-main .authentication .step>span:last-child {
    color: #999999;
    font-size: 12px;
    margin-top: 5px;
}

.user-main .authentication .line {
    display: inline-block;
    vertical-align: 30px;
    width: 200px;
    text-align: center;
    color: #999999;
    font-size: 14px;
    font-weight: 500;
}

.user-main .authentication-content .item {
    margin-top: 0;
}

.user-main .authentication-content .one-item {
    margin-top: 40px;
}

.user-main .authentication-content .item>span {
    display: inline-block;
}

.user-main .authentication-content .item .lable {
    margin-right: 20px;
    vertical-align: 28px;
    min-width: 50px;
    text-align: right;
}

.user-main .authentication-content .time-lable {
    vertical-align: initial !important;
}

.user-main .authentication-content .item input[type=text] {
    width: 190px;
}

.user-main .authentication-content .item .message {
    color: #999999;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.user-main .authentication-content .time-control .ant-select {
    margin-right: 15px;
}

.user-main .authentication-content .time-control .ant-select-selection-selected-value {
    width: 90px;
    text-align: center;
    padding-right: 0px;
}

.user-main .authentication-content .checkbox-text {
    font-size: 14px;
    color: #333;
    margin-right: 5px;
}

.user-main .authentication-content .checkbox-text a {
    color: #cc9900;
    text-decoration-line: none;
}

.user-main .authentication-content .checkbox-text a:hover {
    text-decoration-line: underline;
}

.user-main .authentication-content .submit {
    text-align: center;
    padding-top: 10px;
}

.user-main .authentication-content .submit button {
    min-width: 100px;
    margin-top: 40px;
    outline: none;
}

.user-main .ace-form.auth-step-2 .pic-title {
    background-color: #fefbe8;
    border: solid 1px #fbe59a;
    font-size: 14px;
    text-align: center;
    border-radius: 0;
    padding: 10px 0;
}

.user-main .ace-form.auth-step-2 .pic-item section .anticon-check-circle {
    position: absolute;
    right: 4px;
    top: 47%;
    font-size: 30px;
    color: #33c280;
}

.user-main .ace-form.auth-step-2 .sample-pic-content {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.6);
}

.user-main .ace-form.auth-step-2 .sample-pic-content.show {
    display: block;
}

.user-main .ace-form.auth-step-2 .sample-pic-content .sample-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 6px;
}

.user-main .ace-form.auth-step-2 .sample-pic-content header {
    height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    border-bottom: solid 1px #f4f4f4;
}

.user-main .ace-form.auth-step-2 .sample-pic-content article {
    padding: 40px;
}

.user-main .ace-form.auth-step-2 .sample-pic-content .pic-img {
    float: left;
    width: 320px;
    height: 180px;
}

.user-main .ace-form.auth-step-2 .sample-pic-content .pic-message {
    float: right;
    padding-left: 30px;
    color: #999999;
    line-height: 25px;
}

.user-main .ace-form.auth-step-2 .sample-pic-content .pic-message li {
    list-style-type: disc;
    padding-bottom: 23px;
}

.user-main .ace-form.auth-step-3 .info-line p {
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}

.user-main .ace-form.auth-step-3 .info-line .title {
    color: #333;
    font-size: 20px;
    line-height: 50px;
}

.user-main .ace-form.auth-step-3 .info-line.loading .info {
    color: #999999;
}

.user-main .ace-form.auth-step-3 .info-line.fail .info {
    color: #e8b802;
}

.user-main .ace-form.auth-step-3 .info-line .tip {
    font-size: 12px;
    color: #999999;
    padding-top: 25px;
}

.user-main .ace-form.auth-step-3 .submit,
.user-main .ace-form.auth-step-4 .submit {
    text-align: center;
}

.user-main .ace-form.auth-step-3 .submit .ant-btn,
.user-main .ace-form.auth-step-4 .submit .ant-btn {
    width: 160px;
    height: 40px;
}

.user-main .ace-form.auth-step-4 .title {
    text-align: center;
    font-size: 20px;
    color: #333;
    line-height: 70px;
}

.user-main .ace-form.auth-step-4 .info tr {
    height: 30px;
    line-height: 30px;
}

.user-main .ace-form.auth-step-4 .info tr td {
    width: 50%;
    font-size: 14px;
    color: #999999;
    box-sizing: border-box;
    padding: 5px 15px;
}

.user-main .ace-form.auth-step-4 .info tr td:nth-child(1) {
    text-align: right;
}

.user-main .ace-form.auth-step-4 .info tr td:nth-child(2) {
    text-align: left;
    color: #333333;
}

.user-main .ace-form.auth-step-4 .tip p {
    padding-bottom: 5px;
}

.user-main .ace-form.auth-step-4 .info tr .money {
    font-size: 20px;
    font-weight: bold;
}

.user-main .ace-form.auth-step-2 {
    padding-top: 10px;
}

.user-main .ace-form.auth-step-2 .ant-upload-list-item-name,
.user-main .ace-form.auth-step-2 .anticon-paper-clip {
    display: none;
}

.user-main .pic-upload-content .pic-item-img.hover {
    display: none;
}

.user-main .pic-upload-content .pic-item-img {
    display: block;
    width: 260px;
    height: 170px;
    cursor: pointer;
}

.user-main .pic-upload-content.no-select .ant-upload-select:hover .pic-item-img.target {
    display: none;
}

.user-main .pic-upload-content.no-select .ant-upload-select:hover .pic-item-img.hover {
    display: block;
}

.user-main .authentication-content .pic-title {
    font-size: 14px;
    color: #333333;
    /* margin-top: 50px; */
}

.user-main .authentication-content .pic-item {
    margin-top: 30px;
}

.user-main .authentication-content .pic-item>span {
    display: inline-block;
}

.user-main .authentication-content .pic-item-lable {
    margin-right: 30px;
    vertical-align: 83px;
    color: #333333;
    font-size: 14px;
}

.user-main .authentication-content .pic-item-message {
    width: 275px;
    text-align: center;
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #999999;
}

.user-main .authentication-content .pic-item-error-message {
    width: 275px;
    text-align: center;
    display: block;
    margin: 0px;
    margin-top: 5px;
    font-size: 14px;
}

.user-main .authentication-content .pic-items-message {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
}

.user-main .authentication-content .pic-items-message>span {
    display: block;
}

.user-main .authentication-content .pic-format {
    text-align: left;
    font-size: 12px;
    margin-top: 26px;
    color: #999999;
}

.user-main .authentication-content .pic-items-message i {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 18px;
    color: #999999;
    font-weight: bold;
    vertical-align: bottom;
}

.user-main .authentication-content .await-examine {
    margin-top: 150px;
}

.user-main .authentication-content .await-examine>span {
    display: block;
}

.user-main .authentication-content .await-examine>span:first-child {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.user-main .authentication-content .success-title {
    color: #999999;
    font-size: 20px;
    margin-top: 50px;
}

.user-main .authentication-content .success-user-info {
    margin-top: 35px;
    background-color: #fdfdfd;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    height: 120px;
    width: 560px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #333333;
}

.user-main .authentication-content .success-user-info>div {
    margin-bottom: 5px;
}

.user-main .authentication-content .success-prompt {
    margin-top: 20px;
    font-size: 12px;
    color: #999999;
}

.user-main .authentication-content .success-money {
    margin-top: 50px;
    font-size: 22px;
    color: #999999;
}

.user-main .authentication-content .success-money .money {
    font-size: 40px;
    color: #333333;
}

.user-main .authentication-content .success-money-title {
    font-size: 14px;
    color: #999999;
}

.user-main .authentication-content .success-money-message {
    font-size: 12px;
    color: #999999;
    margin-top: 70px;
}

.user-main .authentication-content .submit {
    margin-bottom: 30px;
}

.user-main .authentication-content .submit button {
    margin-top: 0;
}

/* 邮箱绑定 */

.user-main .bind-email-content {
    padding: 20px;
}

.user-main .bind-email-content .ant-card {
    margin-bottom: 10px;
}

.user-main .bind-email-content .tip {
    font-size: 12px;
    color: #999;
}

.user-main .bind-email-content .left .ant-btn {
    margin-left: 40px;
}

/**
 * 银行卡
 */

.user-main .page-content-inner.bank-info .ace-section.info header .pic-tip {
    float: right;
    color: #cc9900;
    cursor: pointer;
}

.user-main .page-content-inner.bank-info .upload-card {
    text-align: center;
    margin: 10px 0;
}

.user-main .page-content-inner.bank-info .upload-card img.card-pic {
    width: 260px;
    height: 170px;
}

.user-main .page-content-inner.bank-info .info .tip {
    padding: 10px 0;
}

.user-main .page-content-inner.bank-info .info .tip p {
    font-size: 12px;
    color: #999;
    line-height: 18px;
}

.user-main .page-content-inner.bank-info .ant-upload-list-item-info {
    display: none;
}

.user-main .page-content-inner.bank-info .bank-card-log dl dd {
    width: 16.6%;
    text-align: center;
}

/**
 * 密码设置
 */

.user-main .common-setting-box .ant-switch {
    min-width: 28px;
    height: 16px;
    line-height: 14px;
    margin-top: -4px;
    margin-left: 6px;
}

.user-main .common-setting-box .ant-switch:before,
.user-main .common-setting-box .ant-switch:after {
    width: 12px;
    height: 12px;
}

.user-main .common-setting-box .ant-switch.ant-switch-checked:before,
.user-main .common-setting-box .ant-switch.ant-switch-checked:after {
    left: 100%;
    margin-left: -13px;
}

.user-main .common-setting-box {
    padding: 40px 20px;
}

.user-main .common-setting-box .ant-row.pwd {
    height: 100px;
    padding: 0 30px;
    border: solid 1px #f4f4f4;
    box-sizing: content-box;
}

.user-main .common-setting-box .ant-row.pwd .title p {
    padding: 0 0 1px;
    color: #999;
}

.user-main .common-setting-box .ant-row.pwd .title p:nth-child(1) {
    font-size: 18px;
    color: #333;
}

.user-main .common-setting-box .ant-row.pwd.no-bottom {
    border-bottom-color: transparent;
}

.user-main .common-setting-box .ant-row.pwd .ant-col-8 {
    top: 50%;
    transform: translateY(-50%);
}

.user-main .common-setting-box .forget-pwd {
    font-size: 12px;
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    right: 0;
    bottom: -22px;
}

.user-main .common-setting-box .forget-pwd:hover {
    text-decoration-line: underline;
}

.user-main .common-setting-box .ant-row.pwd .ant-col-8.operator {
    text-align: right;
}

.user-main .common-setting-box .ant-row.pwd .operator .switch {
    display: inline-block;
}

.user-main .common-setting-box .message {
    padding: 10px 0 30px;
    color: #999;
}

.user-main .common-setting-box .ant-col-8.operator .ant-btn.ace-secondary, .user-main .common-setting-box .ant-col-8.operator .ant-btn.ace-btn-white {
    margin-left: 30px;
}

.user-main .common-setting-box .message.guide {
    text-align: right;
}

.user-main .common-setting-box .message.guide a {
    display: inline-block;
    padding-left: 4px;
    color: #cc9900;
}

/**
 * 密码修改
 */

.user-main .modify-password-box {}

.user-main .modify-password-box .item-area {
    margin-bottom: 20px;
}

.user-main .modify-password-box .item {
    width: 360px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.user-main .modify-password-box .input.email-content {
    width: 80%;
}

.user-main .modify-password-box .massage {
    font-size: 12px;
    color: #999999;
}

.user-main .modify-password-box .massage a {
    color: #999999;
    text-decoration-line: underline;
}

.user-main .modify-password-box .new-pwd {
    position: relative;
}

/**
 * 绑定手机
 */

.user-main .binding-phone-title {
    color: #333333;
    font-size: 18px;
}

.user-main .binding-phone-content {
    /*padding-left: 120px;*/
    padding-left: 50px;
    padding-top: 80px;
}

.user-main .binding-phone-content .phone {
    font-size: 16px;
    color: #333333;
}

.user-main .binding-phone-content button {
    font-size: 14px;
    color: #fff;
    width: 80px;
    height: 30px;
    background-color: #e6bc1d;
    margin-left: 210px;
}

.user-main .binding-phone-content .message {
    font-size: 14px;
    color: #999999;
    margin-top: 20px;
}

.user-main .binding-phone-content .switch {
    margin-top: 40px;
    margin-left: 270px;
}

.user-main .binding-phone-content .switch span {
    color: #999999;
    font-size: 12px;
}

.user-main .binding-phone-left,
.user-main .binding-phone-left::after,
.user-main .binding-phone-right {
    display: inline-block;
    vertical-align: top;
}

.user-main .binding-phone-left {
    position: relative;
    padding-right: 50px;
}

.user-main .binding-phone-left::after {
    position: absolute;
    top: 10px;
    right: 0px;
    content: '';
    width: 1px;
    height: 110px;
    background-color: #ccc;
}

.user-main .binding-phone-right {
    padding-left: 50px;
    padding-top: 10px;
}

.user-main .binding-phone-right li {
    /*width: 400px;*/
    width: 250px;
    height: 45px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #999999;
}

.user-main .binding-phone-right li:last-child {
    /*width: 300px;*/
    width: 250px;
}

/**
 * google 认证
 */

.user-main .google-auth-title {
    color: #333333;
    font-size: 18px;
}

.user-main .google-no-binding-phone>span {
    font-size: 18px;
    color: #333333;
}

.user-main .google-no-binding-phone button {
    width: 120px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    background-color: #e6bc1d;
}

.user-main .google-auth-message {
    font-size: 14px;
    color: #999999;
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}

.user-main .google-auth-message img {
    height: 200px;
    width: 200px;
}

.user-main .google-auth-message .code-sms {
    color: #333;
}

.user-main .google-auth-message .tip {
    float: right;
    width: 60%;
    padding-top: 50px;
}

.user-main .google-auth-box .info {
    text-align: center;
    padding-top: 18px;
}

.user-main .google-auth-box .info a {
    font-size: 14px;
    color: #cc9900;
}

.user-main .google-auth-box .info a:hover {
    text-decoration-line: underline;
}

.user-main .google-auth-left>div {
    font-size: 14px;
    color: #333333;
    margin-top: 10px;
}

.user-main .google-auth-right {
    display: inline-block;
    vertical-align: top;
}

.user-main .google-auth-right>div {
    padding-top: 5px;
}

.user-main .google-auth-right .info a {
    font-size: 14px;
    color: #999999;
    text-decoration: underline;
    text-underline-position: under;
}

.user-main .google-auth-right button {
    margin-top: 20px;
}

.user-main .google {
    text-decoration: underline;
    text-underline-position: under;
}

.user-main .google-info-link a {
    color: #e6bc1d;
    text-decoration: underline;
    text-underline-position: under;
}

.user-main .reBinding-left>div {
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: top;
}

.user-main .reBinding-left img {
    height: 150px;
    width: 150px;
    display: inline-block;
}

.user-main .rm-binding {
    display: block !important;
    margin-left: -120px;
}

.user-main .reBinding-right {
    display: inline-block;
}

.user-main .reBinding-right>div {
    padding-top: 0px;
}

.user-main .reBinding-left .key-title {
    font-size: 14px;
    color: #333333;
}

.user-main .reBinding-left .key {
    font-size: 20px;
    color: #333333;
    font-weight: 600;
    margin-top: 10px;
}

.user-main .reBinding-left .key-message {
    font-size: 14px;
    color: #999999;
    margin-top: 40px;
}

.user-main .reBinding-right button {
    margin-left: 0px;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.user-main .reBinding-right .info a {
    font-size: 14px;
    color: #999999;
    text-decoration: underline;
    text-underline-position: under;
}

.google-guide-img-box {
    padding-top: 60px;
    position: relative;
}

.google-guide-img-box img {
    margin: auto;
    width:380px;
    height: 180px;
}

.google-guide-img-box .left {
    width: 60px;
    height: 60px;
    top: 50%;
    position: absolute;
    left: 60px;
    transform: translateY(-50%);
    background-color: #f8f8f8;
    border-radius: 50%;
    cursor: pointer;
}

.google-guide-img-box .right {
    width: 60px;
    height: 60px;
    top: 50%;
    position: absolute;
    right: 60px;
    transform: translateY(-50%);
    background-color: #f8f8f8;
    border-radius: 50%;
    cursor: pointer;
}
.google-guide-img-box.last-step .right {
    background-color: #33c280;
}
.google-guide-img-box.last-step .right i {
    color: #fff;
}
.google-guide-img-box.last-step .link {
    display: inline-block;
    padding-left: 4px;
    color: #cc9900;
}
.google-guide-img-box .left i,
.google-guide-img-box .right i {
    font-size: 30px;
    top: 50%;
    position: absolute;
    left: 50%;
    color: #cfcfcf;
    transform: translate(-50%, -50%);
}

.google-guide-img-box .download {
    text-align: center;
    color: #999999;
    font-size: 14px;
    margin-top: 20px;
}

.google-guide-img-box .download>a.download-btn {
    height: 40px;
    line-height: 40px;
    width: 150px;
    color: #999999;
    display: inline-block;
    background-color: #fafafa;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 20px;
}

.google-guide-img-box .download i {
    margin-right: 10px;
    font-size: 25px;
    color: #333333;
    vertical-align: -2px;
}

.user-main .slick-dots {
    display: none !important;
}

/**
 * 问题反馈
 */

.ant-modal.feedback-modal {
    height: 100%;
    box-sizing: border-box;
    top: 0;
    padding: 20px 0;
}

.ant-modal.feedback-modal .ant-modal-content {
    height: 100%;
}

.ant-modal.feedback-modal .ant-modal-content .ant-modal-body {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    padding-top: 75px;
    box-sizing: border-box;
}

.ant-modal.feedback-modal .ant-modal-content .ant-modal-body .img-box {
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.ant-modal.feedback-modal .ant-modal-content .ant-modal-body .img-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-main .content-body.feedback .anticon.anticon-eye-o {
    display: none;
}

.user-main .content-body.feedback .ant-row.title {
    font-size: 14px;
    line-height: 15px;
    color: #999;
    padding: 20px 0;
}

.user-main .content-body.feedback .ant-row.title a {
    color: #cc9900;
}

.user-main .content-body.feedback .text-stats {
    text-align: right;
    line-height: 25px;
    color: #ccc;
}
.user-main .content-body.feedback .text-stats .count {
    color: #cc9900;
}
.user-main .content-body.feedback .upload-box {
    margin: 20px 0;
    height: 100px;
}

.user-main .content-body.feedback .upload-box .ant-upload.ant-upload-select-picture-card {
    height: 100px;
    width: 100px;
}

.user-main .content-body.feedback .upload-box .ant-upload-select{
    background:url('/images/upload-btn.png') 0 0 no-repeat;
    background-size: 100%;
}
.user-main .content-body.feedback .upload-box .ant-upload-select:hover{
    background-image: url('/images/upload-btn-hover.png');
        border-color: #e8b802;
}
.user-main .content-body.feedback .upload-box .ant-upload-select .ant-upload {
    opacity: 0;
}
.user-main .content-body.feedback .upload-box::after {
    content: '';
    clear: both;
    display: block;
}

.user-main .content-body.feedback .ant-row.text-area {
    position: relative;
    overflow: hidden;
}

.user-main .content-body.feedback .ant-row.text-area textarea{
    padding: 10px;
    box-sizing: border-box;
    height: 200px;
    resize: none;
}

.user-main .content-body.feedback .ant-row.text-area textarea:hover, .user-main .content-body.feedback .ant-row.text-area textarea:focus {
    outline: none;
    border-color: #ccc;
    outline-color: #ccc;
}

.user-main .content-body.feedback .ant-row.text-area p.placeholder.show {
    display: block;
}

.user-main .content-body.feedback .ant-row.text-area p.placeholder {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ccc;
    font-size: 14px;
    transform: translate(-50%, -50%);
}

.user-main .content-body.feedback .ant-row.submit {
    border-top: solid 1px #f2f2f2;
    margin-top: 20px;
    padding-top: 20px;
}

.user-main .content-body.feedback .ant-row.submit .ant-col-16 {
    color: #999;
    padding: 1px 0 0;
}

/**
 * 问题列表
 */

.user-main .question-search {
    position: relative;
    padding-left: 40px;
    margin-top: 30px;
}

.user-main .question-search i {
    position: absolute;
    left: 50px;
    top: 10px;
    z-index: 1000;
    color: #999999;
}

.user-main .question-search input {
    padding-left: 30px;
    /*width: 930px;*/
    width: 730px;
    font-size: 12px;
    color: #666666;
    background-color: #f2f2f2;
}

.user-main .question-search>span {
    margin-left: 30px;
    font-size: 12px;
    color: #666666;
    cursor: pointer;
}

.user-main .account-result-list.questions dd {
    padding: 0;
}
.user-main .account-result-list.questions dd.content {
    width: 620px;
    color: #333;
    line-height: 15px;
    box-sizing: border-box;
    padding-left:20px;
    padding-right:20px;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.user-main .account-result-list.questions dd.content:hover {
    color: #cc9900;
}

.user-main .account-result-list.questions dd.time,
.user-main .account-result-list.questions dd.status {
    width: 160px;
    text-align: center;
    color: #999;
}

.user-main .account-result-list.questions dd.time {
    width: 160px;
    text-align: right;
    padding-right: 20px;
}

.user-main .question-page {
    text-align: center;
    padding-top: 50px;
}

.user-main .page-content-inner.question-detail .feedback {
    padding: 15px;
}

.user-main .page-content-inner.question-detail .detail {
    padding: 15px 0 25px;
    font-size: 14px;
    color: #333;
}

.user-main .page-content-inner.question-detail .detail .time {
    color: #999;
    height: 20px;
}

.user-main .page-content-inner.question-detail .detail .content {
    padding: 12px 0 19px;
}

.user-main .page-content-inner.question-detail .img-list .img {
    display: inline-block;

    margin-right: 8px;
}

.user-main .page-content-inner.question-detail .img-list .img img {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: solid 1px #f2f2f2;
    border-radius: 3px;
}

.user-main .page-content-inner.question-detail .feedback-answer .create-time {
    border-top: solid 1px #f2f2f2;
    padding: 20px 0;
    color: #999;
}

.user-main .page-content-inner.question-detail .feedback-answer section {
    background-color: #f4f4f4;
    color: #333;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.user-main .page-content-inner.question-detail .feedback-answer header {
    padding: 20px 20px 0;
}
.user-main .page-content-inner.question-detail .feedback-answer article {
    padding: 13px 20px 20px;
}
/**
 * form 表单项
 */

.item-left-meassage {
    position: absolute;
    white-space: nowrap;
    top: 8px;
    left: 367px;
    font-size: 12px;
}

/**
 * 绑定成功提示也（邮箱 手机）
 */

.user-main .bind-success {
    margin: auto;
    /* width: 300px; */
    text-align: center;
}

.user-main .bind-success .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f3f3f3;
    vertical-align: middle;
    margin-right: 10px;
}

.user-main .bind-success .icon-text {
    font-size: 30px;
    color: #333333;
    vertical-align: middle;
}

.user-main .bind-success .icon i {
    font-size: 25px;
    vertical-align: -11px;
    color: #e6bc1d;
    font-weight: 800;
    margin-left: 5px;
}

.user-main .bind-success .item:nth-child(1) {
    margin-top: 180px;
}

.user-main .bind-success .item:nth-child(2) {
    margin-top: 15px;
    font-size: 16px;
    color: #333333;
    margin-bottom: 70px;
}

.user-main .bind-success .item:nth-child(2) .email {
    margin-top: 15px;
    font-size: 16px;
    color: #e6bc1d;
}

.user-main .bind-success .item:nth-child(3) {
    font-size: 14px;
    color: #999999;
    margin-bottom: 10px;
}

.user-main .bind-success .item:nth-child(4) a {
    font-size: 14px;
    color: #fff;
    width: 200px;
    display: inline-block;
    border-radius: 8px;
    background-color: #e6bc1d;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.user-main .bind-success .item:nth-child(4) a .icon {
    position: absolute;
    right: -10px;
    top: -7px;
    background-color: #ff3d66;
    width: 20px;
    height: 15px;
    display: block;
    border-radius: 4px;
    font-size: 12px;
    line-height: 15px;
    margin-right: 0px;
}
