.user-wrapper {
	position: relative;
    min-width: 1150px;
    margin: 0 auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.user-body-inner{
	padding-left: 230px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.user-menu {
  	float: left;
    width: 230px;
    margin-left: -230px;
}

.user-menu-box {
    padding: 20px;
}

.user-menu-box h2 {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7ebf1;
}

.user-menu-box ul {
    margin-bottom: 10px;
}

.user-menu-box ul li {
    padding: 10px 0;
}

.user-main {
	float: right;
    width: 100%;
    margin: 10px 0;
    min-height: 620px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
}

.user-main-box {
    padding: 20px;
}