.user-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.user-body-inner {
    padding-left: 230px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.aside-left {
    float: left;
    width: 230px;
    padding-right: 30px;
    margin-left: -230px;
}

.aside-left .info {
    text-align: center;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}

.aside-left .info .name {
    width: 160px;
}

.aside-left .info .name,
.aside-left .info .id {
    text-overflow: ellipsis;
    overflow: hidden;
}

.aside-left .info .name {
    font-size: 15px;
    color: #767676;
}

.aside-left .info .id {
    font-size: 12px;
    color: #bebebe;
}

.aside-left .menu {
    border-radius: 6px;
    background-color: #fff;
}

.aside-left .menu .menu-submenu,
.aside-left .menu .menu-submenu-title {
    border-bottom: 1px solid #f3f3f3;
}

.aside-left .menu .menu-submenu {
    text-align: center;
}

.aside-left .menu .menu-submenu-title {
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;
}

.aside-left .menu .menu-submenu-item {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-right: 3px solid transparent;
}

.aside-left .menu .menu-submenu-item a {
    display: block;
    color: #999;
}

.aside-left .menu .menu-submenu-item a:hover,
.aside-left .menu .menu-submenu-item a:focus,
.aside-left .menu .menu-submenu-item a:active {
    text-decoration: none;
}

.aside-left .menu .menu-submenu-item.active-item {
    background-color: #fffbe9;
    box-sizing: border-box;
    border-right: 3px solid #e7b400;
}

.aside-left .menu .menu-submenu-item.active-item a {
    color: #e7b508;
}

.user-main .top-radius-6 {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.user-main .bottom-radius-6 {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.user-main.ace-page-content .content-title, .user-main.ace-page-content .section-title {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.user-main.ace-page-content .content-body, .user-main.ace-page-content .section-body  {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/**
 * 基本信息
 */

.page-content-inner.base-info .ace-section.info .section-body {
    position: relative;
    overflow: hidden;
}

.page-content-inner.base-info .ace-section.info .section-body::after {
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    background-color: #ccc;
    position: absolute;
    right: 50%;
    top: 0;
}

.page-content-inner.base-info .ace-section.info .content-box {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px 0;
    overflow: hidden;
    text-align: center;
}

.page-content-inner.base-info .ace-section.info .content-box.left {
    padding-right: 20px;
}

.page-content-inner.base-info .ace-section.info .content-box.left .phone,
.page-content-inner.base-info .ace-section.info .content-box.right .grade {
    font-size: 24px;
    color: #333;
}

.page-content-inner.base-info .ace-section.info .content-box.left .phone {
    padding-top: 20px;
}

.page-content-inner.base-info .ace-section.info .content-box.left .login-time,
.page-content-inner.base-info .ace-section.info .content-box.right .money {
    font-size: 14px;
    color: #999;
}

.page-content-inner.base-info .ace-section.info .content-box.left .bind {
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
}

.page-content-inner.base-info .ace-section.info .content-box.left .bind>div {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.page-content-inner.base-info .ace-section.info .content-box.left .bind img {
    display: block;
    margin: 0 auto;
}

.page-content-inner.base-info .ace-section.info .content-box.right {
    padding-left: 20px;
}

.page-content-inner.base-info .ace-section.info .content-box.right .title {
    text-align: left;
    color: #999;
    font-size: 14px;
}

.page-content-inner.base-info .ace-section.info .content-box.right .lvl {
    color: #e6bc1d;
}

.page-content-inner.base-info .ace-section.info .content-box.right .ant-btn {
    min-width: 100px;
    height: 35px;
    background-color: #e6bc1d;
    color: #fff;
    margin-top: 20px;
    outline: none;
}


.user-main .login-reminding {
    margin-left: 270px;
    margin-top: 25px;
}

.user-main .login-reminding>span:first-child {
    margin-right: 15px;
    font-size: 12px;
    color: #999999;
}

.user-main .login-reminding .ant-switch-checked {
    background-color: #e6bc1d;
}

.user-main .info-box {
    padding-bottom: 45px;
    border-bottom: 1px solid #ccc;
}

.user-main .ant-table {
    margin-top: 50px;
}

.user-main table {
    width: 100%;
}

.user-main table tr {
    height: 50px;
    line-height: 50px;
}

/* .user-main .ant-table-body tr:nth-child(odd) {
    background-color: #f8f8fb;
} */

.user-main .ant-table-body {
    max-height: 250px;
    overflow-y: scroll;
}

.user-main table th {
    text-align: center;
    color: #666666;
    font-size: 16px;
}

.user-main table td {
    text-align: center;
}

/**
 * 身份认证
 */

.user-main .authentication-title {
    color: #333333;
    font-size: 18px;
    margin-bottom: 20px;
}

.user-main .authentication-message {
    margin-top: 200px;
    text-align: center;
    font-size: 18px;
    color: #333333;
}

.user-main .authentication-message a {
    background-color: #e6bc1d;
    padding: 5px;
    margin-left: 10px;
    border-radius: 8px;
    color: #fff;
    display: block;
    width: 100px;
    font-size: 12px;
    margin: auto;
    margin-top: 20px;
}

.user-main .authentication-content {
    /* padding-left: 100px; */
}

.user-main .authentication .content-title .title-right {
    float: right;
    margin: 20px 20px 0 0;
    width: 380px;
}

.user-main .authentication .content-title .title-right .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
    color: #e9bb0d;
}

.user-main .authentication .content-title .title-right .ant-steps-item-finish .ant-steps-item-icon {
    border-color: #e9bb0d;
}

.user-main .authentication .content-title .title-right .ant-steps-item-finish>.ant-steps-item-content>.ant-steps-item-title:after {
    background-color: #e9bb0d;
}

.user-main .authentication .content-title .title-right .ant-steps-item-process .ant-steps-item-icon {
    background: #e9bb0d;
}

.user-main .authentication .content-title .title-right .ant-steps-item-process .ant-steps-item-icon {
    border-color: #e9bb0d;
}

.user-main .ace-form.auth-step-1 .muti-filed,
.user-main .ace-form.auth-step-1 .muti-select {
    position: relative;
}

.user-main .ace-form.auth-step-1 .muti-filed .ace-input-item,
.user-main .ace-form.auth-step-1 .muti-select .ace-input-item {
    width: 210px;
    float: left;
    margin-right: 30px;
}

.user-main .ace-form.auth-step-1 .muti-filed .ace-input-item input.input,
.user-main .ace-form.auth-step-1 .muti-select div.input {
    margin-bottom: 30px;
}

.user-main .ace-form.auth-step-1 .muti-filed .message,
.user-main .ace-form.auth-step-1 .muti-select .message {
    position: absolute;
    top: 70px;
}

.user-main .ace-form.auth-step-1 .muti-filed .ace-input-item.last,
.user-main .ace-form.auth-step-1 .muti-select .ace-input-item.last {
    margin-right: 0;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select div.input {
    border: none;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select.time-label .ant-select {
    float: left;
    width: 130px;
    margin-right: 29px;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select.time-label .ant-select.last {
    margin-right: 0;
}

.user-main .ace-form.auth-step-1 .ant-select {
    width: 100%;
    display: block;
}

.user-main .ace-form.auth-step-1 .ant-select-selection--single {
    height: 42px;
}

.user-main .ace-form.auth-step-1 .ant-select-selection__placeholder {
    top: 37%;
    height: 32px;
    line-height: 32px;
}

.user-main .ace-form.auth-step-1 .ant-select-selection__rendered {
    line-height: 42px;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select.radio {
    position: relative;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select.radio div.input {
    text-indent: 0;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select.radio .ant-input {
    position: absolute;
    left: 79%;
    width: 120px;
    top: 14px;
}

.user-main .ace-form.auth-step-1 .ace-input-item.select .error-message,
.user-main .ace-form.auth-step-1 .ace-input-item.select .message {
    display: block;
    width: 100%;
}

.user-main .ace-form.auth-step-1 .ant-upload-list {
    width: 240px;
    margin-left: 20px;
    display: none;
}

.user-main .ace-form.auth-step-1 .item.center {
    text-align: center;
}

.user-main .authentication .step {
    display: inline-block;
}

.user-main .authentication .step>span {
    display: block;
    text-align: center;
}

.user-main .authentication .step>span:last-child {
    color: #999999;
    font-size: 12px;
    margin-top: 5px;
}

.user-main .authentication .line {
    display: inline-block;
    vertical-align: 30px;
    width: 200px;
    text-align: center;
    color: #999999;
    font-size: 14px;
    font-weight: 500;
}

.user-main .authentication-content .item {
    margin-top: 30px;
}

.user-main .authentication-content .one-item {
    margin-top: 40px;
}

.user-main .authentication-content .item>span {
    display: inline-block;
}

.user-main .authentication-content .item .lable {
    margin-right: 20px;
    vertical-align: 28px;
    min-width: 50px;
    text-align: right;
}

.user-main .authentication-content .time-lable {
    vertical-align: initial !important;
}

.user-main .authentication-content .item input[type=text] {
    width: 190px;
}

.user-main .authentication-content .item .message {
    color: #999999;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.user-main .authentication-content .time-control .ant-select {
    margin-right: 15px;
}

.user-main .authentication-content .time-control .ant-select-selection-selected-value {
    width: 90px;
    text-align: center;
    padding-right: 0px;
}

.user-main .authentication-content .error-message {
    margin-left: 15px;
}

.user-main .authentication-content .checkbox-text {
    font-size: 14px;
    color: #999999;
    margin-right: 5px;
}

.user-main .authentication-content .checkbox-text a {
    color: #e6bc1d;
    text-decoration-line: underline;
}

.user-main .authentication-content .submit button {
    min-width: 100px;
    height: 35px;
    background-color: #e6bc1d;
    color: #fff;
    margin-top: 40px;
    outline: none;
}

.user-main .ace-form.auth-step-2 .pic-title {
    background-color: #fefbe8;
    border: solid 1px #fbe59a;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
}

.user-main .ace-form.auth-step-2 .center {
    text-align: center;
}

.user-main .ace-form.auth-step-2 .pic-item header {
    overflow: hidden;
    border-bottom: solid 1px #f4f4f4;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
}

.user-main .ace-form.auth-step-2 .pic-item .item-title {
    float: left;
}

.user-main .ace-form.auth-step-2 .pic-item .item-tip {
    float: right;
    color: #f0d056;
    cursor: pointer;
}

.user-main .ace-form.auth-step-2 .pic-item section {
    padding: 20px 0 5px;
    position: relative;
}

.user-main .ace-form.auth-step-2 .pic-item section .anticon-check-circle {
    position: absolute;
    right: 4px;
    top: 47%;
    font-size: 30px;
    color: #4dda22;
}

.user-main .ace-form.auth-step-2 .pic-item .pic-upload {
    display: block;
    text-align: center;
}

.user-main .ace-form.auth-step-2 .sample-pic-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.6);
}

.user-main .ace-form.auth-step-2 .sample-pic-content.show {
    display: block;
}

.user-main .ace-form.auth-step-2 .sample-pic-content .sample-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 6px;
}

.user-main .ace-form.auth-step-2 .sample-pic-content header {
    height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    border-bottom: solid 1px #f4f4f4;
}

.user-main .ace-form.auth-step-2 .sample-pic-content article {
    padding: 40px;
}

.user-main .ace-form.auth-step-2 .sample-pic-content .pic-img {
    float: left;
    width: 320px;
    height: 180px;
}

.user-main .ace-form.auth-step-2 .sample-pic-content .pic-message {
    float: right;
    padding-left: 40px;
    color: #999999;
    line-height: 25px;
}

.user-main .ace-form.auth-step-2 .sample-pic-content .pic-message li {
    list-style-type: disc;
    padding-bottom: 23px;
}

.user-main .ace-form.auth-step-3 .info-line p {
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}

.user-main .ace-form.auth-step-3 .info-line .title {
    color: #333;
    font-size: 20px;
    line-height: 50px;
}

.user-main .ace-form.auth-step-3 .info-line.loading .info {
    color: #999999;
}

.user-main .ace-form.auth-step-3 .info-line.fail .info {
    color: #e8b802;
}

.user-main .ace-form.auth-step-3 .info-line .tip {
    font-size: 12px;
    color: #999999;
    padding-top: 25px;
}

.user-main .ace-form.auth-step-3 .submit,
.user-main .ace-form.auth-step-4 .submit {
    text-align: center;
}

.user-main .ace-form.auth-step-3 .submit .ant-btn,
.user-main .ace-form.auth-step-4 .submit .ant-btn {
    width: 160px;
    height: 40px;
}

.user-main .ace-form.auth-step-4 .title {
    text-align: center;
    font-size: 20px;
    color: #333;
    line-height: 70px;
}

.user-main .ace-form.auth-step-4 .info tr {
    height: 30px;
    line-height: 30px;
}

.user-main .ace-form.auth-step-4 .info tr td {
    width: 50%;
    font-size: 14px;
    color: #999999;
    box-sizing: border-box;
    padding: 5px 15px;
}

.user-main .ace-form.auth-step-4 .info tr td:nth-child(1) {
    text-align: right;
}

.user-main .ace-form.auth-step-4 .info tr td:nth-child(2) {
    text-align: left;
    color: #333333;
}

.user-main .ace-form.auth-step-4 .tip {
    text-align: center;
    padding: 20px;
}

.user-main .ace-form.auth-step-4 .tip p {
    padding-bottom: 5px;
}

.user-main .ace-form.auth-step-4 .info tr .money {
    font-size: 20px;
    font-weight: bold;
}

.user-main .authentication-content .submit button:hover {
    border-color: none;
}

.user-main .authentication-content .pic-title {
    font-size: 14px;
    color: #333333;
    margin-top: 50px;
}

.user-main .authentication-content .pic-item {
    margin-top: 30px;
}

.user-main .authentication-content .pic-item>span {
    display: inline-block;
}

.user-main .authentication-content .pic-item-lable {
    margin-right: 30px;
    vertical-align: 83px;
    color: #333333;
    font-size: 14px;
}

.user-main .authentication-content .pic-item-img {
    display: block;
    width: 275px;
    height: 145px;
    margin-right: 50px;
    cursor: pointer;
}

.user-main .authentication-content .pic-item-message {
    width: 275px;
    text-align: center;
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #999999;
}

.user-main .authentication-content .pic-item-error-message {
    width: 275px;
    text-align: center;
    display: block;
    margin: 0px;
    margin-top: 5px;
    font-size: 14px;
}

.user-main .authentication-content .pic-items-message {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
}

.user-main .authentication-content .pic-items-message>span {
    display: block;
}

.user-main .authentication-content .pic-format {
    margin-left: 100px;
    margin-top: 30px;
    font-size: 14px;
    color: #999999;
}

.user-main .authentication-content .pic-items-message i {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 18px;
    color: #999999;
    font-weight: bold;
    vertical-align: bottom;
}

.user-main .authentication-content .await-examine {
    margin-top: 150px;
}

.user-main .authentication-content .await-examine>span {
    display: block;
}

.user-main .authentication-content .await-examine>span:first-child {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.user-main .authentication-content .success-title {
    color: #999999;
    font-size: 20px;
    margin-top: 50px;
}

.user-main .authentication-content .success-user-info {
    margin-top: 35px;
    background-color: #fdfdfd;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    height: 120px;
    width: 560px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #333333;
}

.user-main .authentication-content .success-user-info>div {
    margin-bottom: 5px;
}

.user-main .authentication-content .success-prompt {
    margin-top: 20px;
    font-size: 12px;
    color: #999999;
}

.user-main .authentication-content .success-money {
    margin-top: 50px;
    font-size: 22px;
    color: #999999;
}

.user-main .authentication-content .success-money .money {
    font-size: 40px;
    color: #333333;
}

.user-main .authentication-content .success-money-title {
    font-size: 14px;
    color: #999999;
}

.user-main .authentication-content .success-money-message {
    font-size: 12px;
    color: #999999;
    margin-top: 70px;
}

.user-main .authentication-content .submit {
    margin-bottom: 30px;
}

.user-main .authentication-content .submit button {
    margin-top: 0;
}

/* 邮箱绑定 */

.user-main .bind-email-content {
    padding: 20px;
}

.user-main .bind-email-content .ant-card {
    margin-bottom: 10px;
}

.user-main .bind-email-content .tip {
    font-size: 12px;
    color: #999;
}

.user-main .bind-email-content .left .ant-btn {
    margin-left: 40px;
}

/**
 * 银行卡
 */

.user-main .bank-message {
    margin-top: 200px;
    text-align: center;
    font-size: 18px;
    color: #333333;
}

.user-main .bank-message a {
    background-color: #e6bc1d;
    padding: 5px;
    margin-left: 10px;
    border-radius: 8px;
    color: #fff;
    display: block;
    width: 100px;
    font-size: 12px;
    margin: auto;
    margin-top: 20px;
}



.user-main .page-content-inner.bank-info .ace-section.info header .pic-tip {
    float: right;
    color: #cc9900;
}

.user-main .page-content-inner.bank-info .upload-card {
    text-align: center;
    margin: 10px 0;
}

.user-main .page-content-inner.bank-info .upload-card img.card-pic {
    width: 260px;
    height: 170px;
}

.user-main .page-content-inner.bank-info .info .tip {
    padding: 10px 0;
}

.user-main .page-content-inner.bank-info .info .tip p {
    font-size: 12px;
    color: #999;
    line-height: 18px;
}


/**
 * 密码设置
 */

.user-main .common-setting-box {
    padding-top: 20px;
}

.user-main .common-setting-box .ant-row.pwd {
    padding: 20px;
    border: solid 1px #f4f4f4;
}

.user-main .common-setting-box .ant-row.pwd .title p {
    padding: 5px 0;
    color: #999;
}

.user-main .common-setting-box .ant-row.pwd .title p:nth-child(1) {
    font-size: 18px;
    color: #323a42;
}

.user-main .common-setting-box .ant-row.pwd.no-bottom {
    border-bottom: none;
}

.user-main .common-setting-box .ant-row.pwd .operator {
    text-align: right;
    padding-top: 13px;
}

.user-main .common-setting-box .ant-row.pwd .operator .switch {
    float: left;
    margin-top: 7px;
}

.user-main .common-setting-box .message {
    padding: 10px 0 30px;
}

.user-main .common-setting-box .message.guide {
    text-align: right;
}

.user-main .common-setting-box .message.guide a {
    display: inline-block;
    padding-left: 4px;
    color: #cc9900;
}



/**
 * 密码修改
 */

.user-main .modify-password-box {}

.user-main .modify-password-box .item-area {
    margin-bottom: 20px;
}

.user-main .modify-password-box .item {
    width: 360px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.user-main .modify-password-box .input.email-content {
    width: 80%;
}

.user-main .modify-password-box .massage {
    font-size: 12px;
    color: #999999;
}

.user-main .modify-password-box .massage a {
    color: #999999;
    text-decoration-line: underline;
}

.user-main .modify-password-box .v-code {
    width: 338px;
    display: inline-block;
    margin-right: 10px;
}

.user-main .modify-password-box .v-code-button {
    width: 100px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
}

.user-main .modify-password-box .v-code-button img {
    height: 40px;
    width: 100px;
    border-radius: 8px;
    vertical-align: top;
}

.user-main .modify-password-box .new-pwd {
    position: relative;
}

/**
 * 绑定手机
 */

.user-main .binding-phone-title {
    color: #333333;
    font-size: 18px;
}

.user-main .binding-phone-content {
    /*padding-left: 120px;*/
    padding-left: 50px;
    padding-top: 80px;
}

.user-main .binding-phone-content .phone {
    font-size: 16px;
    color: #333333;
}

.user-main .binding-phone-content button {
    font-size: 14px;
    color: #fff;
    width: 80px;
    height: 30px;
    background-color: #e6bc1d;
    margin-left: 210px;
}

.user-main .binding-phone-content .message {
    font-size: 14px;
    color: #999999;
    margin-top: 20px;
}

.user-main .binding-phone-content .switch {
    margin-top: 40px;
    margin-left: 270px;
}

.user-main .binding-phone-content .switch span {
    color: #999999;
    font-size: 12px;
}

.user-main .binding-phone-left,
.user-main .binding-phone-left::after,
.user-main .binding-phone-right {
    display: inline-block;
    vertical-align: top;
}

.user-main .binding-phone-left {
    position: relative;
    padding-right: 50px;
}

.user-main .binding-phone-left::after {
    position: absolute;
    top: 10px;
    right: 0px;
    content: '';
    width: 1px;
    height: 110px;
    background-color: #ccc;
}

.user-main .binding-phone-right {
    padding-left: 50px;
    padding-top: 10px;
}

.user-main .binding-phone-right li {
    /*width: 400px;*/
    width: 250px;
    height: 45px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #999999;
}

.user-main .binding-phone-right li:last-child {
    /*width: 300px;*/
    width: 250px;
}

/**
 * google 认证
 */

.user-main .google-auth-title {
    color: #333333;
    font-size: 18px;
}

.user-main .google-no-binding-phone {
    padding-top: 200px;
    text-align: center;
}

.user-main .google-no-binding-phone>span {
    font-size: 18px;
    color: #333333;
}

.user-main .google-no-binding-phone button {
    width: 120px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    background-color: #e6bc1d;
}

.user-main .google-auth-message {
    font-size: 14px;
    color: #999999;
    margin-top: 80px;
    margin-bottom: 30px;
    overflow: hidden;
}

.user-main .google-auth-message .vcode {
    float: left;
}

.user-main .google-auth-message img {
    display: block;
    height: 150px;
    width: 150px;
}

.user-main .google-auth-message .tip {
    float: right;
    width: 60%;
    padding-top: 50px;
}

.user-main .google-auth-left>div {
    font-size: 14px;
    color: #333333;
    margin-top: 10px;
}

.user-main .google-auth-right {
    display: inline-block;
    vertical-align: top;
}

.user-main .google-auth-right>div {
    padding-top: 5px;
}

.user-main .google-auth-right .info a {
    font-size: 14px;
    color: #999999;
    text-decoration: underline;
    text-underline-position: under;
}

.user-main .google-auth-right button {
    margin-top: 20px;
}

.user-main .google {
    text-decoration: underline;
    text-underline-position: under;
}

.user-main .google-info-link a {
    color: #e6bc1d;
    text-decoration: underline;
    text-underline-position: under;
}

.user-main .reBinding-left>div {
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: top;
}

.user-main .reBinding-left img {
    height: 150px;
    width: 150px;
    display: inline-block;
}

.user-main .rm-binding {
    display: block !important;
    margin-left: -120px;
}

.user-main .reBinding-right {
    display: inline-block;
}

.user-main .reBinding-right>div {
    padding-top: 0px;
}

.user-main .reBinding-left .key-title {
    font-size: 14px;
    color: #333333;
}

.user-main .reBinding-left .key {
    font-size: 20px;
    color: #333333;
    font-weight: 600;
    margin-top: 10px;
}

.user-main .reBinding-left .key-message {
    font-size: 14px;
    color: #999999;
    margin-top: 40px;
}

.user-main .reBinding-right button {
    margin-left: 0px;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.user-main .reBinding-right .info a {
    font-size: 14px;
    color: #999999;
    text-decoration: underline;
    text-underline-position: under;
}

.google-guide-img-box {
    padding-top: 60px;
    position: relative;
}

.google-guide-img-box img {
    margin: auto;
}

.google-guide-img-box .left {
    width: 60px;
    height: 60px;
    top: 50%;
    position: absolute;
    left: 60px;
    transform: translateY(-50%);
    background-color: #f8f8f8;
    border-radius: 50%;
    cursor: pointer;
}

.google-guide-img-box .right {
    width: 60px;
    height: 60px;
    top: 50%;
    position: absolute;
    right: 60px;
    transform: translateY(-50%);
    background-color: #f8f8f8;
    border-radius: 50%;
    cursor: pointer;
}

.google-guide-img-box .left i,
.google-guide-img-box .right i {
    font-size: 30px;
    top: 50%;
    position: absolute;
    left: 50%;
    color: #cfcfcf;
    transform: translate(-50%, -50%);
}

.google-guide-img-box .download {
    text-align: center;
    color: #999999;
    font-size: 14px;
    margin-top: 20px;
}

.google-guide-img-box .download>span {
    height: 40px;
    line-height: 40px;
    width: 150px;
    display: inline-block;
    background-color: #fafafa;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 20px;
}

.google-guide-img-box .download i {
    margin-right: 10px;
    font-size: 25px;
    color: #333333;
    vertical-align: -2px;
}

.user-main .slick-dots {
    display: none !important;
}

/**
 * 问题反馈
 */

.user-main .content-body.feedback .anticon.anticon-eye-o {
    display: none;
}

.user-main .content-body.feedback .ant-row.title {
    font-size: 14px;
    color: #333;
    padding: 20px 0;
}

.user-main .content-body.feedback .ant-row.title a {
    color: #cc9900;
}

.user-main .content-body.feedback .upload-box {
    margin: 20px 0;
}

.user-main .content-body.feedback .ant-row.submit .ant-col-16 {
    color: #999;
    padding: 10px 0 5px;
}

/**
 * 问题列表
 */

.user-main .question-search {
    position: relative;
    padding-left: 40px;
    margin-top: 30px;
}

.user-main .question-search i {
    position: absolute;
    left: 50px;
    top: 10px;
    z-index: 1000;
    color: #999999;
}

.user-main .question-search input {
    padding-left: 30px;
    /*width: 930px;*/
    width: 730px;
    font-size: 12px;
    color: #666666;
    background-color: #f2f2f2;
}

.user-main .question-search>span {
    margin-left: 30px;
    font-size: 12px;
    color: #666666;
    cursor: pointer;
}

.user-main .question-content {
    padding-left: 20px;
    padding-top: 50px;
}

.user-main .question-content li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
}

.user-main .question-content li>span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
}

.user-main .question-content li>span:first-child {
    width: 62%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}

.user-main .question-content li>span a {
    color: #414141;
}

.user-main .question-content li>span:nth-child(2) {
    width: 15%;
}

.user-main .question-content li span.status {
    color: #e0c266;
}

.user-main .question-content li span.status.lvl-2 {
    color: #c9c9c9;
}

.user-main .question-content li>span:nth-child(3) {
    width: 18%;
}

.user-main .question-page {
    text-align: center;
    padding-top: 50px;
}
 .user-main .page-content-inner.question-detail .feedback{
    padding: 15px;
}
.user-main .page-content-inner.question-detail .detail {
    padding: 25px 0;
    border-bottom: solid 1px #f4f4f4;
    font-size: 14px;
    color: #333;
}

.user-main .page-content-inner.question-detail .detail .time{
    color: #999;
}

.user-main .page-content-inner.question-detail .detail .content {
    padding: 15px 0;
}

.user-main .page-content-inner.question-detail .img-list .img {
    display: inline-block;
    width: 104px;
    height: 104px;
    margin-right: 8px;
    border-radius: 4px;
}
.user-main .page-content-inner.question-detail .img-list .img  img {
    width: 100%;
    height: 100%;
}

.user-main .page-content-inner.question-detail .feedback {
    background-color: #f4f4f4;
    color: #333;
    font-size: 14px;
    margin-bottom: 20px;
}

/**
 * form 表单项
 */

.item-left-meassage {
    position: absolute;
    white-space: nowrap;
    top: 8px;
    left: 367px;
    font-size: 12px;
}

/**
 * 绑定成功提示也（邮箱 手机）
 */

.user-main .bind-success {
    margin: auto;
    width: 300px;
    text-align: center;
}

.user-main .bind-success .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f3f3f3;
    vertical-align: middle;
    margin-right: 10px;
}

.user-main .bind-success .icon-text {
    font-size: 30px;
    color: #333333;
    vertical-align: middle;
}

.user-main .bind-success .icon i {
    font-size: 25px;
    vertical-align: -11px;
    color: #e6bc1d;
    font-weight: 800;
    margin-left: 5px;
}

.user-main .bind-success .item:nth-child(1) {
    margin-top: 180px;
}

.user-main .bind-success .item:nth-child(2) {
    margin-top: 15px;
    font-size: 16px;
    color: #333333;
    margin-bottom: 70px;
}

.user-main .bind-success .item:nth-child(2) .email {
    margin-top: 15px;
    font-size: 16px;
    color: #e6bc1d;
}

.user-main .bind-success .item:nth-child(3) {
    font-size: 14px;
    color: #999999;
    margin-bottom: 10px;
}

.user-main .bind-success .item:nth-child(4) a {
    font-size: 14px;
    color: #fff;
    width: 200px;
    display: inline-block;
    border-radius: 8px;
    background-color: #e6bc1d;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.user-main .bind-success .item:nth-child(4) a .icon {
    position: absolute;
    right: -10px;
    top: -7px;
    background-color: #ff3d66;
    width: 20px;
    height: 15px;
    display: block;
    border-radius: 4px;
    font-size: 12px;
    line-height: 15px;
    margin-right: 0px;
}
