.user-wrapper {
	position: relative;
    min-width: 1150px;
    margin: 0 auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.user-body-inner{
	padding-left: 230px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.user-menu {
  	float: left;
    width: 230px;
    margin-left: -230px;
}

.user-menu-box {
    padding: 20px;
}

.user-menu-box h2 {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7ebf1;
}

.user-menu-box ul {
    margin-bottom: 10px;
}

.user-menu-box ul li {
    padding: 10px 0;
    cursor: pointer;
}

.user-main {
	float: right;
    width: 100%;
    margin: 10px 0;
    min-height: 620px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
}

.user-main-box {
    padding: 20px;
}
/**
 * 基本信息
 */ 
.user-main-box .info-box .info-title {
    font-size: 18px;
    color: #333333;
}

.user-main-box .info-content > div {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.user-main-box .info-content-left {
    padding-left: 100px;
    padding-top: 80px;
    padding-right: 45px;
    position: relative;
}
.user-main-box .info-content-left::after {
    content: '';
    width: 1px;
    height: 120px;
    background-color: #ccc;
    position: absolute;
    right: 0px;
    top: 40px;
}
.user-main-box .info-content-left .phone {
    font-size: 20px;
    color: #333333;
}
.user-main-box .info-content-left .login-time {
    font-size: 14px;
    color: #333333;
    margin-top: 10px;
}
.user-main-box .info-content-left .bind {
    margin-left: 265px;
    margin-top: 5px;
}
.user-main-box .info-content-left .bind-email {
    display: inline-block;
}

.user-main-box .info-content-left .bind-phone {
    margin-right: 35px;
    display: inline-block;
}
.user-main-box .info-content-left .bind img {
    display: block;
    margin-left: 9px;
}
.user-main-box .info-content-left .bind span {
    display: block;
    font-size: 12px;
    margin-top: 10px;
}

.user-main-box .info-content-right {
    padding-top: 30px;
    padding-left: 50px;
}
.user-main-box .info-content-right .title {
    color: #999999;
    font-size: 14px;
    margin-bottom: 20px;
}
.user-main-box .info-content-right .certification-grade {
    display: inline-block;
    padding-left: 15px;
}

.user-main-box .certification-grade .grade span {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
}
.user-main-box .certification-grade .grade a {
    font-size: 12px;
    color: #5581d8;
    margin-left: 15px;
}
.user-main-box .certification-grade .money > span:first-child {
    color: #999999;
    font-size: 14px;
}
.user-main-box .certification-grade .money > span:last-child {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
}
.user-main-box .login-reminding {
    margin-left: 270px;
    margin-top: 25px;
}

.user-main-box .login-reminding > span:first-child {
    margin-right: 15px;
    font-size: 12px;
    color: #999999;
}

.user-main-box .login-reminding .ant-switch-checked {
    background-color: #e6bc1d;
}

.user-main-box .info-box {
    padding-bottom: 45px;
    border-bottom: 1px solid #ccc;
}
.user-main-box .ant-table {
    margin-top: 50px;
}
.user-main-box table {
	width: 100%;
}
.user-main-box table tr {
	height: 50px;
    line-height: 50px;
}
.user-main-box .ant-table-body tr:nth-child(odd) {
	background-color: #f8f8fb;
}
.user-main-box .ant-table-body {
	max-height: 250px;
    overflow-y: scroll;
}
.user-main-box table th {
	text-align: center;
	color: #666666;
	font-size: 16px;
}
.user-main-box table td {
    text-align: center;
}
/**
 * 身份认证
 */
.user-main-box .authentication-title {
    color: #333333;
    font-size: 18px;
    margin-bottom: 20px;
}
.user-main-box .authentication-content {
    padding-left: 220px;
}
.user-main-box .authentication .step {
    display: inline-block;
}

.user-main-box .authentication .step > span {
    display: block;
    text-align: center;
}
.user-main-box .authentication .step > span:last-child {
    color: #999999;
    font-size: 12px;
    margin-top: 5px;
}
.user-main-box .authentication .line {
    display: inline-block;
    vertical-align: 30px;
    width: 200px;
    text-align: center;
    color: #999999;
    font-size: 14px;
    font-weight: 500;
}
.user-main-box .authentication-content .item {
    margin-top: 30px;
}
.user-main-box .authentication-content .one-item {
    margin-top: 40px;
}
.user-main-box .authentication-content .item > span {
    display: inline-block;
}
.user-main-box .authentication-content .item .lable {
    margin-right: 20px;
    vertical-align: 28px;
}
.user-main-box .authentication-content .time-lable {
    vertical-align: initial !important;
}
.user-main-box .authentication-content .item input {
    width: 190px;
}
.user-main-box .authentication-content .item .message {
    color: #999999;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
.user-main-box .authentication-content .time-control .ant-select {
    margin-right: 15px;
}
.user-main-box .authentication-content .time-control .ant-select-selection-selected-value {
    width: 90px;
    text-align: center;
    padding-right: 0px;
}
.user-main-box .authentication-content .error-message {
    margin-left: 15px;
}
.user-main-box .authentication-content .checkbox-text {
    font-size: 14px;
    color: #999999;
    margin-right: 5px;
}
.user-main-box .authentication-content .checkbox-text a {
    color: #e6bc1d;
    text-decoration-line: underline;
}
.user-main-box .authentication-content .submit button {
    min-width: 100px;
    height: 35px;
    background-color: #e6bc1d;
    color: #fff;
    margin-top: 40px;
    outline: none;
}

.user-main-box .authentication-content .submit button:hover {
    border-color: none;
}
.user-main-box .authentication-content .pic-title {
    font-size: 14px;
    color: #333333;
    margin-top: 50px;
}
.user-main-box .authentication-content .pic-item {
    margin-top: 30px;
}
.user-main-box .authentication-content .pic-item > span {
    display: inline-block;
}
.user-main-box .authentication-content .pic-item-lable {
    margin-right: 30px;
    vertical-align: 83px;
    color: #333333;
    font-size: 14px;
}
.user-main-box .authentication-content .pic-item-img {
    display: block;
    width: 275px;
    height: 145px;
    margin-right: 50px;
}
.user-main-box .authentication-content .pic-item-message {
    width: 275px;
    text-align: center;
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #999999;
}
.user-main-box .authentication-content .pic-item-error-message {
    width: 275px;
    text-align: center;
    display: block;
    margin: 0px;
    margin-top: 5px;
    font-size: 14px;
}
.user-main-box .authentication-content .pic-items-message {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
}
.user-main-box .authentication-content .pic-items-message > span {
    display: block;
}
.user-main-box .authentication-content .pic-format {
    margin-left: 100px;
    margin-top: 30px;
    font-size: 14px;
    color: #999999;
}
.user-main-box .authentication-content .pic-items-message i {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 18px;
    color: #999999;
    font-weight: bold;
    vertical-align: bottom;
}
.user-main-box .authentication-content .await-examine {
    margin-top: 150px;
}
.user-main-box .authentication-content .await-examine > span {
    display: block;
}
.user-main-box .authentication-content .await-examine > span:first-child {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}
.user-main-box .authentication-content .success-title {
    color: #999999;
    font-size: 20px;
    margin-top: 50px;
}
.user-main-box .authentication-content .success-user-info {
    margin-top: 35px;
    background-color: #fdfdfd;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    height: 120px;
    width: 560px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #333333;
}
.user-main-box .authentication-content .success-user-info > div {
    margin-bottom: 5px;
}
.user-main-box .authentication-content .success-prompt {
    margin-top: 20px;
    font-size: 12px;
    color: #999999;
}
.user-main-box .authentication-content .success-money {
    margin-top: 50px;
    font-size: 22px;
    color: #999999;
}
.user-main-box .authentication-content .success-money .money {
    font-size: 40px;
    color: #333333;
}
.user-main-box .authentication-content .success-money-title {
    font-size: 14px;
    color: #999999;
}
.user-main-box .authentication-content .success-money-message {
    font-size: 12px;
    color: #999999;
    margin-top: 70px;
}
.user-main-box .authentication-content .submit {
    margin-bottom: 30px;
}
.user-main-box .authentication-content .submit button {
    margin-top: 20px;
}
/**
 * 银行卡
 */
.user-main-box .bank-info-title {
    font-size: 18px;
    color: #333333;
}
.user-main-box .binding-bank-box {
    padding-left: 125px;
    padding-bottom: 50px;
}
.user-main-box .binding-bank-box .item {
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
}
.user-main-box .binding-bank-box .item:first-child {
    height: 20px;
    line-height: 20px;
}

.user-main-box .binding-bank-box .bank-card-num {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    width: 400px;
    box-sizing: border-box;
}

.user-main-box .binding-bank-box .input { 
    border: none;
    outline: none;
    padding-left: 5px;
}
.user-main-box .binding-bank-box .input-lable {
    font-size: 14px;
    color: #333333;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #d9d9d9;
}
.user-main-box .binding-bank-box .submit button{
    background-color: #e6bc1d;
    width: 100px;
    color: #fff;
}
.user-main-box .binding-bank-box,
.user-main-box .binding-bank-message {
    display: inline-block;
    vertical-align: top;
}
.user-main-box .binding-bank-message {
    display: inline-block;
    width: 460px;
    margin-left: 60px;
    padding-left: 50px;
    margin-top: 20px;
    border-left: 1px solid #d9d9d9;
}
.user-main-box .binding-bank-message li {
    list-style: initial;
    font-size: 14px;
    color: #999999;
    margin-bottom: 15px;
}
.user-main-box .bank-list-box {
    border-top: 1px solid #ccc;
}