/**
 * 常规文字
 */
@text-color01: #c5cedd;
@text-color02: #838891;
@text-color03: #545960;
@text-color: #ffffff;
/**
 * 颜色
 */
@k-red: #db4e4e;
@k-green: #0c9b78;
@theme-yellow: #e8b802;
/**
 * 彩色文字
 */
@text-red-color: #ed5b68;
@text-green-color: #00cc99;
@text-yellow-color: #cc9900;
/**
 * 界面颜色
 */
@bg-color: #191b1d;
@bg-module: #24272c;
@border-dark-color: #191b1d;
@border-light-color: #1e2124;
@list-hoverbg-color01: #2a2f37;
@list-hoverbg-color02: #353c45;
@bg-pop-color: #2f343b;
/**
 * 模块圆角
 */
@border-radius: 6px;
