@url: "../../images/landpage-eth/";

.landpage-eth-airdrop {
    background-size: 1920px 590px;
    background-color: #fff;
    min-height: 1000px;

    .content-wrap {
        position: relative;
        width: 1120px;
        margin: 0 auto;
    }

    .banner-module {
        background: #6628c3 url("@{url}/banner.png") no-repeat center top;
        background-size: cover;

        .content-wrap {
            height: 635px;
        }

        h2 {
            padding-top: 158px;
            font-weight: bold;
            color: #fff;
            font-size: 25px;
            text-shadow: none;
            width: 460px;
            text-align: center;
            letter-spacing: 2px;
            vertical-align: inherit;
            p {
                font-size: 40px;
                padding: 10px 0;
            }
        }

        h3 {
            color: #cbbde8;
            font-size: 14px;
            width: 460px;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 30px;
            font-weight: normal;
        }

        .text {
            font-size: 30px;
            text-align: center;
            color: #fff;
            width: 460px;
            p {
                padding-bottom: 10px;
            }
            padding: 10px 0;
        }

        .button {
            position: relative;
            display: block;
            background: none;
            outline: 0 none;
            border: 0 none;
        }

        .button a {
            display: block;
            background: none;
            outline: 0 none;
            border: 0 none;
            height: 50px;
            line-height: 50px;
            width: 450px;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.6);
            font-size: 18px;
            border-radius: 50px;
            color: #6076ff;
            background-color: #fff;
            text-decoration: none;
            // box-shadow: 0px 8px 21px 0px rgba(13, 0, 100, 0.4);
        }

        .content-image {
            position: absolute;
            right: 0;
            bottom: -110px;
            width: 623px;
            height: 653px;
            background: url("@{url}/gif.png") no-repeat center center;
            background-size: 100% 100%;
            transform: translateZ(0);
            animation-name: hvr-bob-float, hvr-bob;
            backface-visibility: hidden;
            animation-duration: .3s, 2s;
            animation-delay: 0s, .3s;
            animation-timing-function: ease-out, ease-in-out;
            animation-iteration-count: 1, infinite;
            animation-fill-mode: forwards;
            animation-direction: normal, alternate;
        }
    }



    .steps-module {
        padding-bottom: 60px;

        h2 {
            font-size: 30px;
            padding-top: 60px;
            padding-bottom: 60px;
            text-align: center;
            font-weight: bold;
        }

        h3 {
            font-size: 18px;
            font-weight: bold;
            padding-top: 64px;
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        p {
            color: #9091a5;
            font-size: 18px;
        }
        .step {
            text-align: center;
            &::before {
                content: '';
                display: block;
                margin: 0 auto;
                height: 180px;
                width: 180px;
                background: url("@{url}/step1.png") center center no-repeat;
                background-size: 100%;
            }
            &:nth-child(2)::before {
                background-image: url("@{url}/step2.png");
            }
            &:nth-child(3)::before {
                background-image: url("@{url}/step3.png");
            }
        }
    }

    .intro-module {
        background-color: #f9fafb;
        color: #323e48;
        padding-bottom: 20px;

        .content-wrap {
            padding-top: 120px;
            padding-left: 520px;
            min-height: 560px;
        }

        .intro-tip {
            width: 1120px;
            margin: 0 auto;
            line-height: 30px;
            font-size: 14px;
            padding-top: 30px;
            margin-top: 30px;
            border-top: 1px solid #f0f3f5;
        }

        h2,
        h3 {
            font-size: 30px;
            font-weight: bold;
        }
        h3 {
            color: #747e96;
        }

        dl {
            margin-top: 60px;
            dd {
                display: block;
                font-size: 14px;
                line-height: 30px;
                width: 540px;
                color: #31353f;
            }

            dd.rule {
                label {
                    display: block;
                }

                ul {
                    padding-left: 16px;
                }

                li {
                    list-style: decimal;
                }
            }

            .minitip {
                color: #969da9;
            }
        }

        .content-image {
            position: absolute;
            left: 0;
            top: 110px;
            width: 442px;
            height: 446px;
            background: url("@{url}/image1.png") no-repeat center center;
            background-size: 100% 100%;
        }
    }
}


@keyframes rubberBand {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    50% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}
