.ieo-wrapper {
    @import './main.less';
    @import './detail.less';
    // 通用

    #J-Countdown{
        .day-wrap, .hour-wrap, .minute-wrap, .second-wrap{
            display: inline-block;
            text-align: center;
        }
        em{
            display: inline-block;
            width: 40px;
            height: 40px;
        }
    }
}
