@import "../variable";
//个人中心-我的积分
.user-point.home {
    //公共样式抽离
    .block {
        background-color: #fff;
        border-radius: 6px;
        margin-bottom: 20px;
        .title {
            font-size: 14px;
            border-bottom: 1px solid @page-split-border-color;
            box-shadow: 0 2px 3px 1px rgba(23, 31, 39, .02);
            color: @text-color01-light;
            height: 49px;
            line-height: 49px;
            padding: 0 20px;
        }
        .content {
            padding: 0 20px;
        }
    }
    //用户积分基础信息
    .point-info {
        padding: 30px 0;
        color: @text-color02-light;
        .left-info {
            .level-box {
                float: left;
                width: 60px;
                height: 60px;
                margin-right: 20px;
                border-radius: 3px;
                background: linear-gradient(top, #f6d18b, #f8eab3);
                padding: 10px 0;
                text-align: center;
                color: #8f3e1a;
                .unit {
                    opacity: .5;
                }
                .level {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            .info-panel {
                float: left;
                width: 580px;
                .username, .other {
                    height: 30px;
                    line-height: 30px;
                }
                .username {
                    font-size: 18px;
                    color: @text-color01-light;
                }
                .other {
                    span {
                        display: inline-block;
                        margin-right: 10px;
                        &.diff-point {
                            margin-left: 20px;
                            height: 24px;
                            line-height: 24px;
                            border-radius: 3px;
                            background-color: #f0f3f5;
                            text-align: center;
                            padding: 0 20px;
                        }
                        &.total {
                            color: #31353f;
                            font-size: 14px;
                        }
                        em {
                            margin: 0 3px;
                        }
                    }
                }
            }
        }
        .right-info {
            float: left;
            border-left: 1px solid @page-split-border-color;
            padding-left: 20px;
            p {
                height: 30px;
                line-height: 30px;
                &.txt {
                    color: @text-color01-light;
                }
                .value {
                    color: #31353f;
                    font-size: 14px;
                    margin-right: 10px;
                }
            }
        }

    }

    //专享折扣
    .discount-wrap {
        .discount {
            float: left;
            width: 480px;
            height: 100px;
            padding: 20px 20px 20px 100px;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            background-size: 60px 60px;
            background-repeat: no-repeat;
            background-position: 20px 20px;
            li {
                display: inline-block;
                vertical-align: middle;
            }
            &.off {
                background-image: url("../../images/ap/off.png");
                .txt {
                    width: 150px;
                    font-size: 20px;
                    color: @text-color01-light;
                }
                p.fee {
                    height: 30px;
                    line-height: 30px;
                    color: #31353f;
                    label {
                        display: inline-block;
                        width: 110px;
                        color: @text-color02-light;
                    }
                }

            }
            &.more {
                background-image: url("../../images/ap/wait.png");
                color: @text-color02-light;
                font-size: 20px;
                font-weight: 300;
                line-height: 60px;
            }
        }
    }
    //用户等级对应手续费列表
    .fee-wrap {
        .content {
            padding-bottom: 20px;
        }
        .fee-desc {
            padding: 20px 0;
            color: @text-color01-light;
        }
        table {
            color: @text-color01-light;
            th {
                background-color: #f7f8f9;
                font-size: 12px;
                color: @text-color02;
            }
            tr:hover {
                background-color: #f7f8f9;
            }
            td, th {
                width: 243px;
                height: 40px;
            }
            tr, td, th {
                border: 1px solid @page-split-border-color;
            }
            .level {
                font-size: 14px;
            }
        }
    }
    //收支记录详情
    .point-detail {
        position: relative;
        color: @text-color01-light;
        .content {
            min-height: 300px;
            padding-bottom: 20px;
        }
        .table-hd {
            color: @text-color02-light;
        }
        .time, .change, .remark {
            display: inline-block;
            vertical-align: middle;
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid @page-split-border-color;
        }
        .time {
            width: 410px;
            padding-left: 10px;
        }
        .change {
            width: 240px;
        }
        .remark {
            width: 290px;
            text-align: right;
            padding-right: 10px;
        }
        .table-bd {
            li:hover {
                background-color: #f7f8f9;
            }
        }
        .table-ft {
            .ant-pagination {
                margin-top: 15px;
                text-align: center;
            }
        }
    }

}

//积分入口页
.user-point.welcome {
    background: url("../../images/ap/ap-banner.png") no-repeat top;
    background-size: 1920px 449px;
    .content {
        width: 1200px;
        margin: 0 auto;
        color: @text-color02-light;
        padding-top: 200px;
        .desc-wrap {
            position: relative;
            background-color: #fff;
            padding: 50px 100px;
            &:before{
                position: absolute;
                content: '';
                width: 1200px;
                height: 3px;
                background: linear-gradient(left,#ff5e43,#fff89c);
                top: -3px;
                left: 0;
            }
            .desc {
                height: 150px;
                .title {
                    font-size: 24px;
                    height: 60px;
                    line-height: 60px;
                    color: @text-color01-light;
                }
                &.right {
                    position: relative;
                    padding-left: 320px;
                    margin-bottom: 100px;
                    background: url("../../images/ap/banner-icon-1.png") no-repeat left;
                    background-size: 300px 150px;
                    &::after {
                        position: absolute;
                        content: '';
                        width: 1000px;
                        height: 1px;
                        background-color: #f4f5f6;
                        bottom: -51px;
                        left: 0;
                    }
                }
                &.left {
                    height: 155px;
                    padding-right: 320px;
                    background: url("../../images/ap/banner-icon-2.png") no-repeat right;
                    background-size: 300px 155px;
                }
            }
        }
        .detail-wrap {
            margin-top: 40px;
            .title {
                height: 40px;
                line-height: 40px;
                font-size: 24px;
                color: @text-color01-light;
                text-align: center;
            }
            .detail-txt {
                margin-bottom: 20px;
                text-align: center;
                padding: 0 325px;
            }

            ul {
                display: flex;
                height: 255px;
                margin-bottom: 60px;
                .way {
                    flex: 1;
                    margin: 0 30px;
                    background-color: #fff;
                    font-size: 14px;
                    color: @text-color01-light;
                    padding-top: 190px;
                    text-align: center;
                    background-repeat: no-repeat;
                    background-position: center 40px;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &.way1{
                        background-image: url("../../images/ap/icon1.png");
                        background-size: 102px 127px;
                    }
                    &.way2{
                        background-image: url("../../images/ap/icon2.png");
                        background-size: 109px 125px;
                    }
                    &.way3{
                        background-image: url("../../images/ap/icon3.png");
                        background-size: 125px 133px;
                    }
                    &.way4{
                        background-image: url("../../images/ap/icon4.png");
                        background-size: 120px 140px;
                    }
                    &.way5{
                        background-image: url("../../images/ap/icon5.png");
                        background-size: 134px 127px;
                    }
                    &.way6{
                        background-image: url("../../images/ap/icon6.png");
                        background-size: 139px 104px;
                        background-position-y: 50px;
                    }
                    &.way7{
                        background-image: url("../../images/ap/icon7.png");
                        background-size: 145px 125px;
                    }
                    &.way8{
                        background-image: url("../../images/ap/icon8.png");
                        background-size: 124px 122px;
                    }
                }
            }

        }
    }
    .footer {
        width: 1200px;
        height: 240px;
        margin: 0 auto 40px;
        background: #fff;
        padding: 50px 0 0;
        text-align: center;
        p {
            &.greet {
                font-size: 24px;
                color: @text-color01-light;
            }
            font-size: 18px;
            color: #e8b802;
            margin-bottom: 10px;
        }
        button {
            height: 40px;
            line-height: 40px;
            border-radius: 20px;
            background-color: #e8b802;
            color: @text-color03;
            padding: 0 40px;
            margin-top: 15px;
            &:hover {
                background-color: #ffdc57;
                color: @text-color01-light;
            }
        }
    }

}