.chart-page {
    background: #fff;
    padding: 5px 10px 10px;
}

.chart-page .chart-container {
    border-color: #fff;
    background: #fff;
}


.charts-popup-list .item.active,
.feature-no-touch .charts-popup-list .item:hover {
    background: #fff
}



.intervals-list .add,
.intervals-list .mins {
    background-color: #fff;
}


.feature-no-touch .tv-button.i-disabled:active,
.feature-no-touch .tv-button.i-disabled:hover,
.feature-no-touch .tv-button:disabled:active,
.feature-no-touch .tv-button:disabled:hover,
.feature-touch .tv-button.i-disabled:active,
.feature-touch .tv-button:disabled:active,
.tv-button.i-disabled,
.tv-button:disabled {
    border-color: #fff;
    background-color: #fff
}


.chart-page .tv-side-toolbar .group,
.chart-page .header-chart-panel .group {
    float: left;
}

.header-chart-panel .header-chart-panel-content {
	padding: 0;
}

.chart-page .tv-side-toolbar .header-group-properties,
.chart-page .tv-side-toolbar .header-group-indicators,
.chart-page .header-chart-panel .header-group-properties,
.chart-page .header-chart-panel .header-group-indicators {
    float: none;
}

.feature-no-touch .tv-favorited-drawings-toolbar__widget:hover {
    background-color: #fff
}
/**
 * icon
 */
.feature-no-touch .pane-legend-icon svg:hover {
    fill: #e8b802;
}
.button.indicators:hover svg{
	fill: #323e48;
}
/**
 * button
 */
.bottom-widgetbar-content.backtesting .button,
.header-chart-panel .button,
.hotlist-controls .button,
.symbol-edit-widget .button {
	background:  #fff;
    border-color: #e1e4ea;
    color: #969da9;
    cursor: pointer;
    font-weight: normal;
}

.chart-page .header-chart-panel .group .button:hover,
.chart-page .header-chart-panel .group .button.selected {
    background: #f4f4f4;
    color: #323e48;
    border-color: #e1e4ea;
} 

/**
 * 时间轴
 */
.chart-controls-bar {
	background-color: #fff;
}

.chart-controls-bar-buttons a {
    stroke: #545960;
    fill: #545960;
    color: #545960
}

.chart-controls-bar-buttons.date-range-wrapper {
	display: none;
}

.chart-controls-bar-buttons a:before {
    border-color: #545960;
}

.chart-controls-bar-buttons a.active,
.feature-no-touch .chart-controls-bar-buttons a.active:hover {
    color: #cc9900!important;
    stroke: #cc9900!important;
    fill: #cc9900!important
}

.feature-no-touch .chart-controls-bar-buttons a:not(.disabled):hover {
    background-color: #f4f4f4;
    color: #323e48;
    stroke: #323e48;
    fill: #323e48
}

/**
 * 弹出框
 */
.charts-popup-list {
	border-color: #edf0f1;
	background: #fff;
}

.charts-popup-list .item span {
	color: #838891;
}

.charts-popup-list .item:hover span{
	color: #323e48;
}

.checked-icon svg{
	stroke: #838891;
}

.charts-popup-list .separator{
	border-top-color: #edf0f1;
}

.feature-no-touch .charts-popup-list .item:hover {
    background: #f7f8f9;
}


.context-menu-wrapper {
    border-color: #edf0f1;
    background-color: #fff;
}

.context-menu .action-separator td{
    background-color: #edf0f1;
    border-color: #fff;
}

tr.context-menu-hover {
    background: #f7f8f9;
}

.context-menu td.text{
    color: #838891;
}

.context-menu-hover td.text{
    background-color: #f7f8f9;
    color: #323e48;
}

.feature-no-touch .charts-popup-list .item.special.disabled:hover,
.charts-popup-list .item.special {
    background: #f7f8f9;
    color: #323e48;
}

.tv-dialog{
	background: #fff;
	color: #838891;
}
.tv-dialog__title {
    color: #323e48;
}
.tv-dialog__close svg {
    fill: #323e48;
}

.theme-dark .tv-dialog__widetextarea {
    color: #323e48;
    background-color: #f7f8f9;
}

.tv-search-row{
	border-bottom-color: #e1e4ea;
}
.tv-insert-indicator-dialog__search-control {
    background-color: #f0f3f5
}

.tv-dialog__section {
	border-bottom-color: #e1e4ea
}

.feature-no-touch .tv-insert-study-item:hover {
    background-color: #f7f8f9;
    color: #323e48;
}

.tv-insert-indicator-dialog__search-control input {
    background-color: #f0f3f5
}

._tv-dialog {
    border-color: #edf0f1;
	background: #fff;
}

._tv-dialog-title{
	color: #323e48;
}

._tv-dialog__link,
._tv-dialog__link:visited,
._tv-dialog--alert-email a,
._tv-dialog--open-a-chart a,
._tv-dialog--alert-email a:visited,
._tv-dialog--open-a-chart a:visited {
    fill: #cc9900;
    color: #cc9900;
}

 ._tv-dialog-content {
    color: #838891;
}

.tv-tabs:before{
	background-color: #f0f3f5;
}

.property-page,
._tv-dialog-content label{
	color: #838891;
}
.properties-tabs a.properties-tabs-label,
.properties-tabs a.properties-tabs-label:hover {
    color: #323e48;
}

.custom-select .switcher,
.tv-select-container,
.tv-text-input.inset {
    border-color: #e1e4ea;
    background-color: #f0f3f5;
    color: #323e48;
}

.tv-ticker__btn{
	border-color: #e1e4ea;
    background: #f0f3f5;
    fill: #323e48;
}

.feature-no-touch .tv-ticker__btn:hover {
    background-color: #f0f3f5;
}

._tv-button.active,
._tv-button.toolbutton.active,
.feature-no-touch ._tv-button.toolbutton:active,
.feature-no-touch ._tv-button:active:not([disabled]),
.feature-no-touch .tv-select-container:active,
.feature-touch ._tv-button.toolbutton:active,
.feature-touch ._tv-button:active:not([disabled]),
.feature-touch .tv-select-container:active,
.tv-select-container.sbHolderOpen {
    background: #f0f3f5;
}

.tv-select-container.sbHolderOpen,
.tv-select-container.sbHolderOpen a {
    color: #323e48
}


.tv-select-container .sbOptions,
.tv-unstyled-select-container .sbOptions {
    border-color: #e1e4ea;
    background: #fff;
}

.custom-select .items {
    border-color: #e1e4ea;
    background: #fff;
}
.feature-no-touch .custom-select .items .item:hover {
    background: #f0f3f5;
}

.custom-select .items .item.selected {
    background: #f0f3f5;
}


.sbOptions a:visited,
.tv-select-container .sbOptions a:link,
.tv-unstyled-select-container .sbOptions a:link {
    color: #545960;
}

.feature-no-touch .tv-select-container .sbOptions a:hover,
.feature-no-touch .tv-unstyled-select-container .sbOptions a:hover {
    background: #f0f3f5;
    color: #323e48;
}

.tv-select-container .sbOptions a.active,
.tv-unstyled-select-container .sbOptions a.active {
    background: #f0f3f5;
    color: #323e48;
}

