/**
 * 买卖操作模块
 */

.app-trade .trade-extra-handle {
    height: 300px;
}

.app-trade .trade-form-hd {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid transparent;
    font-size: 14px;
    padding: 0 10px;
}

.app-trade .trade-form-hd .hd-box {
    padding: 0 10px;
}

.app-trade .trade-form-hd em {
    padding: 0 5px;
}

.app-trade .trade-form-hd label {
    padding: 0 5px;
}

.app-trade .trade-form-hd a,
.app-trade .trade-form-hd a:hover {
    color: #cc9900;
}

.app-trade .trade-form-hd .recharge {
    position: absolute;
    right: 10px;
    top: 0;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.app-trade .trade-form-hd .recharge:hover {
    text-decoration: underline;
}

.app-trade .trade-form-l,
.app-trade .trade-form-r {
    position: relative;
    float: left;
    width: 50%;
}

.app-trade .trade-form-bd {
    font-size: 12px;
    padding: 0 10px;
}

.app-trade .trade-form-bd ul li {
    overflow: hidden;
    padding: 0 10px;
}


.app-trade .trade-form-bd em {
    padding: 0 5px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.app-trade .trade-form-bd label {
    line-height: 32px;
    height: 27px;
    display: block;
    overflow: hidden;
}

.app-trade .trade-form-bd .input-box {
    position: relative;
    border: 1px solid transparent;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.app-trade .trade-form-bd .input-box i {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    font-style: normal;
    font-size: 14px;
}

.trade-form-bd .input-box input {
    border: 0 none;
    background: none;
    height: 40px;
    line-height: 20px;
    padding: 10px 0;
    outline: 0 none;
    width: 100%;
}


.app-trade .trade-form-bd .item-total {
    height: 20px;
    line-height: 20px;
}

.app-trade .trade-form-bd .item-total label {
    display: inline-block;
    vertical-align: middle;
    max-width: 30px;
    line-height: 20px;
    height: 20px;
}

.app-trade .trade-form-bd .item-total span {
    display: inline-block;
    vertical-align: middle;
}

.app-trade .trade-form-bd .item-total em {
    text-align: center;
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
}

.app-trade .trade-form-bd .btn {
    border-radius: 3px;
    width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.app-trade .trade-form-bd .btn.buy {
    background-color: #33c280;
}

.app-trade .trade-form-bd .btn.buy:hover {
    background-color: #4feaa2;
}

.app-trade .trade-form-bd .btn.sell {
    background-color: #ef5d7f;
}

.app-trade .trade-form-bd .btn.sell:hover {
    background-color: #ff7293;
}

.app-trade .trade-form-bd button.btn:disabled {
    cursor: not-allowed;
    color: #999;
    background-color: #f2f2f2 !important;
    border: 1px solid #f2f2f2;
}

.app-trade .trade-form-bd .item-slider {
    padding-right: 17px;
}

.app-trade .trade-form-bd .ant-slider {
    font-size: 12px;
    height: 40px;
    margin-left: 0;
    margin-right: 0;
}

.app-trade .trade-form-bd .ant-slider-mark {
    font-size: 12px;
}

.app-trade .trade-form-bd .ant-slider-dot:first-child {
    margin-left: 0;
}

.app-trade .trade-form-bd .ant-slider-dot:last-child {
    margin-left: 0;
}


.app-trade .trade-form-bd .ant-slider-rail {
    height: 1px;
}


.app-trade .trade-form-bd .ant-slider-step,
.app-trade .trade-form-bd .ant-slider-track {
    height: 1px;
}


.app-trade .trade-form-bd .ant-slider-dot {
    width: 7px;
    height: 7px;
    border: 0 none;
    top: -3px;
    margin-left: 0px;
}

.app-trade .trade-form-bd .ant-slider-mark-text:first-child {
    text-indent: 17px;
}

.app-trade .trade-form-bd .ant-slider-mark-text:last-child {
    text-indent: -17px;
}

.app-trade .trade-form-bd .ant-slider-handle {
    margin-left: -1px;
    margin-top: -4px;
    width: 9px;
    height: 9px;
}

.app-trade .trade-form-bd .ant-slider-with-marks {
    margin-bottom: 0;
}