.popup-trade-password .input-box {
    border: 1px solid rgb(216, 217, 221);
    outline: 0 none;
    height: 40px;
    margin: 0 auto;
    width: 460px;
}

.popup-trade-password .input-box input {
    border: 0 none;
    background: none;
    outline: 0 none;
    line-height: 21px;
    padding: 10px 10px;
    width: 100%;
}

.popup-trade-password .input-box.wrong {
    border-right: 1px solid #ff6666;
}

.popup-trade-password .warn-tip {
    color: #ff6666;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
    width: 362px;
    margin: 0 auto;
}

.popup-trade-password .submit {
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    background-color: #e8b802;
    color: #333333;
    text-align: center;
    display: block;
    border-radius: 3px;
}

.popup-trade-password .submit:hover {
    background-color: #ffdc57;
}




/**
 * 提示弹出框
 */


/* use css to set position of modal */

.exc-dialog {
    text-align: center;
    white-space: nowrap;
}

.exc-dialog:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.exc-dialog .ant-modal-body{
    padding: 24px 0 0;
}

.exc-dialog-content {
    white-space: normal;
    text-align: center;
    color: #323e48;
    font-size: 18px;
    padding-top: 20px;
}


.exc-dialog-body-wrapper {
    margin-top: 10px;
    text-align: left;
}

.exc-dialog-body-content {
    padding-bottom: 30px;
}

.exc-dialog-body-wrapper .anticon {
    display: none;
}

.exc-dialog-btns {
    margin-top: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-top: 1px solid #edf0f1;
}


.exc-dialog .exc-dialog-btns button+button,
.exc-dialog .exc-dialog-btns button+button:hover,
.exc-dialog .exc-dialog-btns button,
.exc-dialog .exc-dialog-btns button:hover{
    margin: 0;
    padding: 0;
    background: none;
    border-radius: 0;
    border: none;
    height: 50px;
    line-height: 50px;
    color: #969da9;
    border: 0 none;
    outline: 0 none;
    box-shodow: none;
}

.exc-dialog-confirm .exc-dialog-btns button+button,
.exc-dialog-confirm .exc-dialog-btns button+button:hover{
    border-left: 1px solid #edf0f1;
    color: #cc9900;
}
.exc-dialog-confirm .exc-dialog-btns button+button,
.exc-dialog-confirm .exc-dialog-btns button{ 
    width: 50%;
}


.exc-dialog-btns button+button {
    margin-left: 10px;
}

.exc-dialog-dark {
    .ant-modal-close {
        color: rgba(255,255,255,.45);
    }

    .ant-modal-content{
        background-color: #2f343b;
        box-shadow: 0 4px 12px rgba(255,255,255,.15);
    }

    .exc-dialog-content{
        color: #c5cedd;
    }

    .exc-dialog-btns{
        border-color: #282b2e;
        button+button,
        button+button:hover{ 
            border-color: #282b2e;
        }
    }
}